<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ESP管理平台</title> <#include "../common/component/library.html"/>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/dateextence.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/activity/activityInfoCheck-list.js"></script>
<style>
#resetPasswordDetails+.window .panel-header>.panel-title {
	color: #000;
}

.window>.panel-header>.panel-title {
	color: #000;
}

#resetPasswordDetails table {
	padding-top: 10px;
}

#resetPasswordDetails table td input {
	border: 1px solid #B4CFFF;
	text-indent: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
</style>
</head>
<body>
	<div id="tb">
		<div class="search">
			<table style="min-width: 700px;">
				<tr>
				 	<td width="10%" align="right" nowrap="nowrap">选择商户：</td>
					<td width="10%" align="right" nowrap="nowrap">
					<select class="easyui-combobox" style="width: 180px;" id="selectMerchant" name="selectMerchant">
				 	</select> 
					</td>
					<td width="10%" align="right" nowrap="nowrap">商品名称：</td>
					<td width="10%"><input id="goodsNames" name="goodsNames" class="easyui-textbox"
						style="width: 200px;" /></td>
					<td width="10%" align="right" nowrap="nowrap">活动状态：</td>
					<td width="10%" align="left " nowrap="nowrap">
						<select id="status" name='status' class="easyui-combobox" style="width: 150px;">   
						  <option value="" selected="selected">请选择</option>   
						  <option label="有效" value="1">有效</option>   
						  <option label="无效" value="-1">无效</option>   
						  <option label="待审核" value="0">待审核</option>  
						</select>
					</td>
					<td>
					<a href="javascript:void(0);"
						class="easyui-linkbutton search-btn"
						data-options="iconCls:'icon-search'">查&nbsp;询&nbsp;</a> <a
						href="javascript:void(0);" class="easyui-linkbutton" id="reset">刷&nbsp;新&nbsp;</a>
				    <@apass.role value="ACTIVITY_CHECK_BATCH">
						<a href="javascript:void(0);" class="easyui-linkbutton checkAll"
						data-options="iconCls:'icon-add'">批&nbsp;量&nbsp;复&nbsp;核</a>
					</@apass.role>
				    <@apass.role value="ACTIVITY_INFO_EXPORT">
						<a href="javascript:void(0);" class="easyui-linkbutton export-btn"
						data-options="iconCls:'icon-add'">导&nbsp;出&nbsp;</a>
						</@apass.role>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- 商品查询列表 -->
	<div id="tablelist"></div>
</body>
</html>