<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ESP管理平台</title> <#include "../common/component/library.html"/>
    <script type="text/javascript"
            src="${rc.contextPath}/WebContent/js/common/dateextence.js"></script>
    <script type="text/javascript"
            src="${rc.contextPath}/WebContent/js/activity/introduce.js"></script>
    <script type="text/javascript"
            src="${rc.contextPath}/WebContent/js/common/datadic.js"></script>
</head>
<body>
<input id="grantedAuthority" type="hidden" value="${grantedAuthority!}">
<div id="tb">
    <div class="search">
        <table style="min-width: 1040px;">
            <tr>

                <td width="30%">
                    <a href="javascript:void(0);" class="easyui-linkbutton"  id="add">活&nbsp;动&nbsp;配&nbsp;置&nbsp;</a> &nbsp;&nbsp;
<!--                     <a href="javascript:void(0);" class="easyui-linkbutton search-btn">查&nbsp;询&nbsp;</a> &nbsp;&nbsp; -->
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="list"></div>

<div id="addIntroConfig" class="easyui-window" title="<font color='black'>添加活动配置</font>" hidden="hidden"
     style="width: 430px; height: 200px; display: none; text-align: center;" >
    <form id="introConfigForm"  action="${rc.contextPath}/activity/introduce/config" method="POST" enctype="multipart/form-data">
        <table class="details_table" style="width:92%">
            <tr>
                <td width="5%" align="right">电商个人返点：</td>
                <td align="left"><input id="rebate" name="rebate"
                                        style="width: 120px;" class="NumDecText"/>
                    <span style="font-size: 16px">%</span></td>
            </tr>
            <tr>
                <td width="5%" align="right">信贷奖励金额：</td>
                <td align="left"><input id="awardAmont" name="awardAmont"
                                        style="width: 120px;" class="NumDecText"/>
                </td>
            </tr>
            <tr>
                <td width="5%" align="right" nowrap="nowrap">活动开始时间：</td>
                <td width="5%" align="left"><input id="startDate" name="startDate" style="width:160px" editable="false" class="easyui-datetimebox" /></td>
            </tr>
            <tr>
                <td width="5%" align="right" nowrap="nowrap">活动结束时间：</td>
                <td width="5%" align="left"><input id="endDate" name="endDate" style="width:160px" editable="false" class="easyui-datetimebox" /></td>
            </tr>
            <tr>

            </tr>
            <tr style="margin-top: 22px;">
                <td colspan="2"><a href="javascript:void(0);" id="cancelAdd" style="margin-right: 15px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" id="agreeAdd" style="margin-right: 15px;" class="easyui-linkbutton">保&nbsp;存&nbsp;</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="editIntroConfig" class="easyui-window" title="<font color='black'>编辑活动配置</font>" hidden="hidden"
     style="width: 430px; height: 200px; display: none; text-align: center;" >
    <table class="details_table" style="width:92%">
        <tr>
            <td width="5%" align="right">电商个人返点：</td>
            <td align="left"><input id="editRebate" name="rebate" style="width: 120px;" class="NumDecText"/>
                <span style="font-size: 16px">%</span></td>
        </tr>
        <tr>
            <td width="5%" align="right">信贷奖励金额：</td>
            <td align="left"><input id="editAwardAmont" name="editAwardAmont" style="width: 120px;" class="NumDecText"/></td>
        </tr>
        <tr>
            <td width="5%" align="right" nowrap="nowrap">活动开始时间：</td>
            <td width="5%" align="left"><input id="editStartDate" style="width:160px" editable="false" class="easyui-datetimebox" disabled/>
            <input id="editStartDate1" style="width:160px" type="hidden"/>
            </td>
        </tr>
        <tr>
            <td width="5%" align="right" nowrap="nowrap">活动结束时间：</td>
            <td width="5%" align="left"><input id="editEndDate" style="width:160px" editable="false" class="easyui-datetimebox" /></td>
        </tr>
        <tr>

        </tr>
        <tr style="margin-top: 22px;">
            <td colspan="2"><a href="javascript:void(0);" id="editCancelAdd" style="margin-right: 15px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>&nbsp;&nbsp;
                <a href="javascript:void(0);" id="editAgreeAdd" style="margin-right: 15px;" class="easyui-linkbutton">保&nbsp;存&nbsp;</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
