<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ESP管理平台</title>
    <#include "../common/component/library.html"/>
    <script type="text/javascript"
            src="${rc.contextPath}/WebContent/js/common/dateextence.js"></script>
    <script type="text/javascript"
            src="${rc.contextPath}/WebContent/js/autoship/autoship.js"></script>
    <script type="text/javascript"
            src="${rc.contextPath}/WebContent/js/common/datadic.js"></script>
</head>
<body>
<!-- 授权标示 -->
<input id="grantedAuthority" type="hidden" value="${grantedAuthority!}">
<!--<div>
    <a href="javascript:void(0);" class="easyui-linkbutton" id="add1">添&nbsp;加&nbsp;</a> &nbsp;&nbsp;
</div>-->

<div id="list"></div>

<div id="addIntroConfig" class="easyui-window" title="<font color='black'>添加活动配置</font>" hidden="hidden"
     style="width: 430px; height: 200px; display: none; text-align: center;">
    <table class="details_table" style="width:92%">
        <tr>
            <td width="5%" align="right" nowrap="nowrap">第一时间节点：</td>
            <td width="5%" align="left"><input id="time1" name="time1" style="width:160px"
                                                  data-options="formatter:ww1" class="easyui-datetimebox"/></td>
        </tr>
        <tr>
            <td width="5%" align="right" nowrap="nowrap">第二时间节点：</td>
            <td width="5%" align="left"><input id="time2" name="time2" style="width:160px" data-options="formatter:ww2"
                                               class="easyui-datetimebox"/></td>
        </tr>
        <tr>
            <td width="5%" align="right" nowrap="nowrap">第三时间节点：</td>
            <td width="5%" align="left"><input id="time3" name="time3" style="width:160px" data-options="formatter:ww3"
                                               class="easyui-datetimebox"/></td>
        </tr>
        <tr>
            <td width="5%" align="right" nowrap="nowrap">第四时间节点：</td>
            <td width="5%" align="left"><input id="time4" name="time4" style="width:160px"
                                               class="easyui-datetimebox" disabled="disabled"/></td>
        </tr>
        <tr style="margin-top: 22px;">
            <td colspan="2"><a href="javascript:void(0);" id="cancel" style="margin-right: 15px;"
                               class="easyui-linkbutton">取&nbsp;消&nbsp;</a>&nbsp;&nbsp;
                <a href="javascript:void(0);" id="agree" style="margin-right: 15px;" class="easyui-linkbutton">确&nbsp;定&nbsp;</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
