<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/dateextence.js"></script>
<title>SLD管理平台</title> <#include "../common/component/library.html"/>
<style>
.window>.panel-header>.panel-title {
	color:#000;
}
.new-btn {
	display: inline-block;
    padding: 2px 4px 2px 30px;
    background: #FFFFFF url("/ams/WebContent/images/icon_upload.png") no-repeat 4px center;
    font-size: 16px;
    color: #000000;
    background-size: 18px;
    border: 1px #000 solid;
    border-radius: 4px;
}
#roleName,#roleCode {
	border: 1px solid #B4CFFF;
   text-indent:5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
textarea {
	border: 1px solid #B4CFFF;
    padding: 5px;
    margin-top: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.messager-window>.panel-header-noborder.window-header>.panel-title{color:#000;}
</style>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/goods/goodCategory.js"></script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true,border:false" style="min-width:800px;">  
	    <div data-options="region:'north'" style="height:50px">  
			<!-- Toolbar -->
			<div id="tb">
				<div class="search">
					<table style="width:100%;min-width:700px;">
						<tr>
							<td>
								<a href="javascript:void(0);"
									class="easyui-linkbutton" id="addFirstCategory"
									data-options="iconCls:'icon-add'">添 &nbsp;加 &nbsp;一 &nbsp;级 &nbsp;类 &nbsp;目&nbsp;</a>&nbsp;
								<a href="javascript:void(0);"
									class="easyui-linkbutton" id="addSecondCategory"
									data-options="iconCls:'icon-add'">添 &nbsp;加 &nbsp;二&nbsp;级 &nbsp;类 &nbsp;目&nbsp;</a>&nbsp;
								<a href="javascript:void(0);"
									class="easyui-linkbutton" id="addThirdCategory"
									data-options="iconCls:'icon-add'">添 &nbsp;加 &nbsp;三&nbsp;级 &nbsp;类 &nbsp;目&nbsp;</a>&nbsp;
								<@apass.role value="GOODS_CATEGORY_FLUSH">
									<a href="javascript:void(0);"
										class="easyui-linkbutton" id="flashCategory"
										data-options="iconCls:'icon-add'">刷&nbsp;新&nbsp;分 &nbsp;类 &nbsp;</a>
								</@apass.role>
							</td>
						</tr>
					</table>
				</div>
			</div>
	    </div>  
	    <div data-options="region:'west',split:false,title:'一级类目',collapsible:false" style="width:33%;min-width:200px;">  
			<div id="westAttrDataGrid" data-options="fit:true,border:false">
			</div>
	    </div>  
	    <div data-options="region:'center',split:false,title:'二级类目'" style="width:34%;min-width:200px;">  
	    	<div id="centerAttrDataGrid" data-options="fit:true,border:false">
	    	</div> 
	    </div>  
	    <div data-options="region:'east',split:false,title:'三级类目',collapsible:false" style="width:33%;;">  
	        <div id="eastAttrDataGrid" data-options="fit:true,border:false">
	        </div> 
	    </div>  
	</div>  
	
	<!-- 操作弹出菜单 -->
	<div id="optMenu" data-options="" class="easyui-menu" style="width:120px;">   
	    <div data-options="iconCls:'icon-edit'" id="editCategory">编辑</div>   
	    <div class="menu-sep"></div>  
	    <div data-options="iconCls:'icon-remove'" id="deleteCategory">删除</div>   
	    <div class="menu-sep"></div>  
	    <div id="moveCategory">上移</div>   
	    <div class="menu-sep" ></div>  
	    <div id="downCategory">下移</div>   
	</div>
	
	<!-- 编辑商品类目  -->
	<div id="editCategoryDetail" class="easyui-window"
		data-options="iconCls:'icon-edit',modal:true,maximizable:false,minimizable:false,resizable:true,collapsible:false"
		title="编辑商品类目 " style="width: 480px; height: 300px; display: none; text-align: center;">
		<div>
			<div style="width: 110%;height:35px;overflow:hidden;padding-top: 70px;">
				<span style="width:33%;display:block;float:left;height:35px;">
					<font color="red">*</font>
					<font class="oneCategory">一</font>
					<font class="twoCategory">二</font>
					<font class="threeCategory">三</font>
					级类目名称：
				</span>
				<span style="width:33%;display:block;float:left;height:35px;">
					<input class="easyui-textbox" id="editCategoryName" name="categoryName" style="width: 150px;"/>
				</span>
				<span style="width:33%;display:block;float:left;height:35px;"></span>
			</div>
			<div style="width: 100%; height:35px; overflow:hidden;" class="threeCategoryAndOneCategoryShow">
				<span style="width: 33%; height: 35px;display:block;float:left;"><font color="red" class="oneCategory">*</font>上传类目图片:</span>
				<span style="width: 33%; height: 35px;display:block;float:left;">	
					<form id="editCategoryFilePicForm" method="POST" enctype="multipart/form-data" modelAttribute="categoryPicDto">
						<input type="file" id="editCategoryFilePic" name="file" />
						<input type="hidden" id="editCategoryLevel" name="categoryLevel"/>
					</form>
				</span>
				<span style="width: 33%; height: 35px;display:block;float:left;">
					<a href="javascript:void(0);" id="editUpLogoBtn" style="margin-right: 15px;" class="new-btn">
						上传
					</a>
				</span>
			</div>
			<div style="width: 100%"  class="threeCategoryAndOneCategoryShow">
				<img id="editShowCategoryPicId" src="">
			</div>
			<div class="spanRemind">支持格式：.jpg .png 图片尺寸：750*248 图片大小：300kb</div>
			<div style="width: 100%">
				<a href="javascript:void(0);" id="editDisGoodCategory"
					style="margin-right: 15px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>&nbsp;&nbsp;
					<a href="javascript:void(0);" id="editConfirmGoodCategory"
					style="margin-right: 55px;" class="easyui-linkbutton">确&nbsp;定&nbsp;</a>
			</div>
		</div>
	</div>
	
	<!-- 添加商品类目  -->
	<div id="addCategoryDetail" class="easyui-window"
		data-options="iconCls:'icon-edit',modal:true,maximizable:false,minimizable:false,resizable:true,collapsible:false"
		title="添加商品类目 " style="width: 500px; height: 300px; display: none; text-align: center;">
		<div>
			<div style="width: 110%;height:35px;overflow:hidden;padding-top: 70px;">
				<span style="width:33%;display:block;float:left;height:35px;">
					<font color="red">*</font>
					<font class="oneCategory">一</font>
					<font class="twoCategory">二</font>
					<font class="threeCategory">三</font>
					级类目名称：
				</span>
				<span style="width:33%;display:block;float:left;height:35px;">
					<input class="easyui-textbox" id="addCategoryName" name="categoryName" style="width: 150px;"/>
				</span>
				<span style="width:33%;display:block;float:left;height:35px;"></span>
			</div>
			<div style="width: 100%; height:35px; overflow:hidden;" class="threeCategoryAndOneCategoryShow">
				<span style="width: 33%; height: 35px;display:block;float:left;"><font color="red" class="oneCategory">*</font>上传类目图片:</span>
				<span style="width: 33%; height: 35px;display:block;float:left;">
					<form id="addCategoryFilePicForm"  method="POST" enctype="multipart/form-data" modelAttribute="categoryPicDto">
						<input type="file" id="addCategoryFilePic" name="file" />
						<input type="hidden" id="addCategoryLevel" name="categoryLevel"/>
					</form>
				</span>
				<span style="width: 33%; height: 35px;display:block;float:left;">
					<a href="javascript:void(0);" id="addUpLogoBtn" style="margin-right: 15px;" class="new-btn">
						上传
					</a>
				</span>
			</div>
			<div style="width: 100%"  class="threeCategoryAndOneCategoryShow">
				<img id="addShowCategoryPicId" src="">
			</div>
			<div class="oneCategory">支持格式：.jpg .png 图片尺寸：750*248 图片大小：300kb</div>
			<div class="threeCategory">支持格式：.jpg .png 图片尺寸： 100*100 图片大小：20kb</div>
			<div style="width: 100%">
				<a href="javascript:void(0);" id="addDisGoodCategory"
					style="margin-right: 15px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>&nbsp;&nbsp;
					<a href="javascript:void(0);" id="addConfirmGoodCategory"
					style="margin-right: 55px;" class="easyui-linkbutton">确&nbsp;定&nbsp;</a>
			</div>
		</div>
	</div>
</body>
</html>   