<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品属性管理</title> <#include "../common/component/library.html"/>
<script type="text/javascript" src="${rc.contextPath}/WebContent/js/common/dateextence.js"></script>
<script type="text/javascript" src="${rc.contextPath}/WebContent/easyui/outOfBounds.js"></script>
<script type="text/javascript" src="${rc.contextPath}/WebContent/js/goods/goodsAttribute.js"></script>
</head>
<body>
    <div id="tb">
        <div class="search">
            <table>
                <tr>
                    <td width="10%" align="right" nowrap="nowrap">属性名称：</td>
                    <td width="20%"><input id="attrName" class="easyui-textbox" style="width: 200px;" /></td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton search-btn">&nbsp;刷新列表&nbsp;</a>
                        <a href="javascript:void(0);" class="easyui-linkbutton add-btn">&nbsp;添加属性&nbsp;</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 用户查询列表 -->
    <div id="goodsAttrlist"></div>
    <!-- 新增属性弹窗 -->
    <div id="addAttr" class="easyui-window" hidden="hidden" 
    style="width: 400px; height: 220px; display: none; text-align: center;" >
        <h2>添加商品属性</h2><hr>
        <table class="details_table" style="width:92%">
            <tr>
                <td width="50%" align="right"><font color="red">*</font>属性名称:</td>
                <td align="left">
                    <input id="name";name="name"; class="easyui-textbox" style="width: 200px;"/>
                </td>
            </tr>
            <tr style="margin-top: 22px;">
                <td colspan="4">
                    <a href="javascript:void(0);" id="addagree" style="margin-left: 93px;margin-top: 25px;" class="easyui-linkbutton">确&nbsp;定&nbsp;</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" id="addcancel" style="margin-left: 40px;margin-top: 25px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>
                </td>
            </tr>
        </table>
    </div>
    <!-- 修改属性弹窗 -->
    <div id="editAttr" class="easyui-window" hidden="hidden" 
    style="width: 400px; height: 220px; display: none; text-align: center;" >
        <h2>维护商品属性</h2><hr>
        <table class="details_table" style="width:92%">
            <tr>
                <td width="50%" align="right"><font color="red">*</font>属性名称:</td>
                <td align="left">
                    <input id="nameedit";name="nameedit"; class="easyui-textbox" style="width: 200px;"/>
                </td>
            </tr>
            <tr style="margin-top: 22px;">
                <td colspan="4">
                    <a href="javascript:void(0);" id="editagree" style="margin-left: 93px;margin-top: 25px;" class="easyui-linkbutton">确&nbsp;定&nbsp;</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" id="editcancel" style="margin-left: 40px;margin-top: 25px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>
                </td>
            </tr>
        </table>
    </div>
    <!-- 删除弹窗 -->
    <div id="deleteAttr" class="easyui-window" hidden="hidden" 
    style="width: 300px; height: 150px; display: none; text-align: center;" >
        <h3>确定删除此条商品属性麽？</h3>
        <table class="details_table" style="width:92%">
            <tr style="margin-top: 22px;">
                <td colspan="4">
                    <a href="javascript:void(0);" id="deleteagree" style="margin-left: 40px;margin-top: 18px;" class="easyui-linkbutton">确&nbsp;定&nbsp;</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" id="deletecancel" style="margin-left: 20px;margin-top: 18px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>   