<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.AwardDetailMapper">
	<select id="queryAwardDetail" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
      from t_esp_award_detail
      where  status in(0,2) and user_id = #{userId}
    </select>
    
	<select id="queryAwardDetailWithDate" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
      from t_esp_award_detail
      where user_id = #{userId} and status in(0,2) and create_date between #{beginMonthDay} and #{now}
    </select>
     
    <select id="queryAwardDetailByStatusAndType" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
      from t_esp_award_detail
      where  status =#{status} and type = #{type}
    </select>
</mapper>