<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.AwardBindRelMapper">

	<sql id="query_where_clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="startCreateDate != null">
				<![CDATA[  and create_date >= #{startCreateDate} ]]>
			</if>
			<if test="endCreateDate != null and endCreateDate != '' ">
				<![CDATA[  and create_date <= #{endCreateDate} ]]>
			</if>
			<if test="activityId != null ">
				<![CDATA[  and activity_id = #{activityId} ]]>
			</if>
		</trim>
	</sql>
	
	<select id="selectCountByUserId" resultType="java.lang.Integer"
		parameterType="java.lang.Long">
		select
		count(1)
		from t_esp_award_bind_rel
		where user_id = #{userId}
	</select>
	<!-- 查询是否已被关联（邀请） -->
	<select id="selectCountByInviteMobile" resultType="java.lang.Integer" parameterType="String">
		select count(1) 
		from t_esp_award_bind_rel
		where invite_mobile = #{value}
	</select>
	<!-- 查询当前活动是否已被关联（邀请） -->
	<select id="selectByMobileAndActivityId" resultType="java.lang.Integer" parameterType="com.apass.esp.domain.entity.AwardBindRel">
		select count(1) 
		from t_esp_award_bind_rel
		where invite_mobile = #{inviteMobile, jdbcType=VARCHAR}  And   activity_id   = #{activityId, jdbcType=VARCHAR}
	</select>
    <!-- 九期需求查询当前电话号码是否已被关联（邀请） -->
	<select id="selectByMobile" resultType="java.lang.Integer" parameterType="com.apass.esp.domain.entity.AwardBindRel">
		select count(1) 
		from t_esp_award_bind_rel
		where invite_mobile = #{inviteMobile, jdbcType=VARCHAR}
	</select>
	<resultMap id="StatisticResultMap" type="com.apass.esp.domain.extentity.AwardBindRelStatistic">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="activity_id" property="activityId" jdbcType="TINYINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="is_new" property="isNew" jdbcType="TINYINT" />
		<result column="invite_user_id" property="inviteUserId"
				jdbcType="BIGINT" />
		<result column="invite_mobile" property="inviteMobile"
				jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="total_invite_num" property="totalInviteNum" jdbcType="INTEGER" />
	</resultMap>

	<sql id="orderby_clause">
		order by ${order}
	</sql>

	<select id="selectBindRelStatistic" resultMap="StatisticResultMap" parameterType="com.apass.esp.domain.query.ActivityBindRelStatisticQuery">
		select
		<include refid="Base_Column_List" />,count(*) as total_invite_num
		from t_esp_award_bind_rel
		<include refid="query_where_clause" />
		GROUP  BY user_id
		order by total_invite_num desc
		<if test="startRecordIndex != null">
			<include refid="PAGINATION.MYSQL_PAGINATION" />
		</if>
	</select>
	
	<select id="selectAllBindRelStatistic" resultMap="StatisticResultMap" parameterType="com.apass.esp.domain.query.ActivityBindRelStatisticQuery">
		select
		<include refid="Base_Column_List" />,count(*) as total_invite_num
		from t_esp_award_bind_rel
		<include refid="query_where_clause" />
		GROUP  BY user_id
		order by total_invite_num desc
	</select>


	<select id="countBindRelByGroup" resultType="java.lang.Integer" parameterType="com.apass.esp.domain.query.ActivityBindRelStatisticQuery">
		select count(*) from (select count(id) from t_esp_award_bind_rel
		<include refid="query_where_clause" />
		GROUP  BY user_id) as t
	</select>

	<!-- 根据被邀请人的userId和活动Id查询邀请人的记录 -->
	<select id="getByInviterUserId" resultMap="BaseResultMap" >
		select * 
		from t_esp_award_bind_rel
		where invite_user_id = #{userId} and activity_id=#{activityId} 
	</select>
	<!-- 查询所有邀请人的记录 -->
	<select id="getAllByInviterUserId" resultMap="BaseResultMap" >
		select * 
		from t_esp_award_bind_rel
		where invite_user_id = #{userId}
	    ORDER BY create_date DESC
	</select>
	
	<!-- 查询被邀请的人数根据传入的时间 -->
	<select id="getInviterUserCountByTime" resultType="java.lang.Integer" parameterType="com.apass.esp.domain.query.ActivityBindRelStatisticQuery">
	   select count(id) from t_esp_award_bind_rel where create_date >= #{startCreateDate}
	</select>

	<select id="selectByInviterUserId" resultMap="BaseResultMap" >
		select *
		from t_esp_award_bind_rel
		where invite_user_id = #{userId}
	</select>
	<!-- 查询条件 -->
	<sql id="queryCriteria">
		<where>
			<if test="startCreateDate != null and endCreateDate != ''">
				<![CDATA[  and create_date >= #{startCreateDate} ]]>
			</if>
			<if test="endCreateDate != null and endCreateDate != '' ">
				<![CDATA[  and create_date <= #{endCreateDate} ]]>
			</if>
			<if test="activityId != null ">
				<![CDATA[  and activity_id = #{activityId} ]]>
			</if>
		</where>
	</sql>
	<!-- 查询某段时间内某活动下的推荐人总数 -->
	<select id="refereeNums" resultType="java.lang.Integer"
		parameterType="com.apass.esp.domain.query.ActivityBindRelStatisticQuery">
		SELECT COUNT(*) 
		  FROM (SELECT
					COUNT(user_id)
				FROM
					t_esp_award_bind_rel
						<include refid="queryCriteria" />
				GROUP BY
					user_id) a
	</select>
	<!-- 查询某段时间内某活动下的被推荐人总数 -->
	<select id="newNums" resultType="java.lang.Integer"
		parameterType="com.apass.esp.domain.query.ActivityBindRelStatisticQuery">
		SELECT COUNT(*) 
		  FROM (SELECT
					COUNT(invite_user_id)
				FROM
					t_esp_award_bind_rel
						<include refid="queryCriteria" />
				GROUP BY
					invite_user_id) a
	</select>
	<!-- 查询某段时间内某活动下的推荐人及推荐人拉新人数 -->
	<select id="getUserIdListByActivityId" resultType="com.apass.esp.domain.vo.ActivityDetailStatisticsVo"
		parameterType="com.apass.esp.domain.query.ActivityBindRelStatisticQuery">
		SELECT
			user_id userId,
			COUNT(invite_user_id) newNums
		FROM
			t_esp_award_bind_rel
		<include refid="queryCriteria" />
		GROUP BY
			user_id
	</select>
</mapper>
