<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.CategoryMapper" >

  <select id="selectByParentKey" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_esp_category
    where parent_id = #{id,jdbcType=BIGINT} order by sort_order asc
  </select>
  
  <select id="selectByCategoryName" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_esp_category
    where category_name = #{categoryName,jdbcType=VARCHAR}
  </select>
</mapper>
