<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.FeedBackMapper" >
   <select id ="count" resultType="java.lang.Integer">
      select count(*) from t_esp_feedback
    </select>
    
    <select id="pageEffectiveList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_esp_feedback
        where type !='ajp'
        order by create_date desc
        <if test="startRecordIndex != null">
           <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>

     </select>
      <!-- 查询条件 -->
	<sql id="QueryConditionSql">
		<where>
			<if test="type != null and type !='' and type=='ajqh' ">
				AND type != 'ajp'
			</if>
			<if test="type != null and type !='' and type=='ajp' ">
				AND type = 'ajp'
			</if>
			<if test="mobile != null and mobile != ''">
				AND mobile = #{mobile, jdbcType=VARCHAR}
			</if>
			<if test="module != null and module != ''">
				AND module = #{module, jdbcType=VARCHAR}
			</if>
			<if test="feedbackType != null and feedbackType != ''">
				AND feedback_type = #{feedbackType, jdbcType=VARCHAR}
			</if>
			<if test="createDateBegin != null and createDateBegin != ''">
				AND create_date &gt; #{createDateBegin, jdbcType=VARCHAR}
			</if>
			<if test="createDateEnd != null and createDateEnd != ''">
				AND create_date  &lt;=  #{createDateEnd, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
     <select id="getFeedBackListPage" parameterType="com.apass.esp.domain.query.FeedBackQuery" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_esp_feedback
        <include refid="QueryConditionSql" />
        <![CDATA[ 
         order by create_date desc
         ]]>
       <if test="startRecordIndex != null">
           <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
     </select>
     
     <select id ="getFeedBackListPageCount" parameterType="com.apass.esp.domain.query.FeedBackQuery" resultType="java.lang.Integer">
      select count(*) from t_esp_feedback
      <include refid="QueryConditionSql" />
    </select>
</mapper>