<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.GoodsAttrMapper" >
    <!-- 模糊查询条件 -->
    <sql id="QueryConditionSql">
        <where>
            <if test="name!=null and name!=''">
                AND name LIKE '%#{name}%'
            </if>
        </where>
    </sql>
    <select id="getGoodsAttrPage" resultMap="BaseResultMap" 
        parameterType="com.apass.esp.domain.entity.GoodsAttr">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_esp_goods_attr
            <include refid="QueryConditionSql" />
        <![CDATA[ 
         ORDER BY created_time desc
        ]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
    <select id ="getGoodsAttrPageCount" resultType="java.lang.Integer"
        parameterType="com.apass.esp.domain.entity.GoodsAttr">
        SELECT COUNT(*) FROM t_esp_goods_attr
        <include refid="QueryConditionSql" />
    </select>
    <select id="getGoodsAttrList" resultType="com.apass.esp.domain.entity.GoodsAttr">
        <![CDATA[
        SELECT
            id id,
            name name,
            created_user createdUser,
            created_time createdTime,
            updated_user updatedUser,
            updated_time updatedTime
        FROM
            t_esp_goods_attr t
        WHERE 1=1
        ]]>
        <if test="name!=null and name!=''">
            AND t.name LIKE '%${name}%'
        </if>
    </select>

    <select id="getGoodsAttrListByName" resultType="com.apass.esp.domain.entity.GoodsAttr">
        <![CDATA[
        SELECT
            id id,
            name name,
            created_user createdUser,
            created_time createdTime,
            updated_user updatedUser,
            updated_time updatedTime
        FROM
            t_esp_goods_attr t
        WHERE 1=1
        ]]>
        <if test="name!=null and name!=''">
            AND t.name = '${name}'
        </if>
    </select>

    <!--selectAllGoodsAttr-->
    <select id="selectAllGoodsAttr" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_esp_goods_attr
    </select>

</mapper>