<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.JdGategoryMapper">
    <select id="getCateGoryByCatId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT * from t_esp_jd_category
    where cat_id =#{catId}
  </select>
</mapper>