<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.JdGoodSalesVolumeMapper" >

  <update id="updateJdGoodSalesVolumeByGoodsId" parameterType="com.apass.esp.domain.entity.JdGoodSalesVolume" >
    update t_esp_goods_sales_volume
    <set>
      <if test="salesNum != null" >
        sales_num = #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=BIGINT}
    and sales_num = #{oriSalesNum,jdbcType=INTEGER}
  </update>

  <select id="getJdGoodSalesVolumeByGoodsId" resultMap="BaseResultMap">
    SELECT   <include refid="Base_Column_List" />
    from t_esp_goods_sales_volume
    where goods_id =  #{goodsId,jdbcType=BIGINT}
  </select>

  <select id="jdGoodSalesVolumeCount" resultType="java.lang.Integer">
    select count(1) from t_esp_goods_sales_volume
  </select>

  <select id="jdGoodSalesVolumeByPage" resultType="java.lang.String">
    SELECT order_id
    from t_esp_goods_sales_volume
    order by sales_num ,create_date
    limit #{pageIndex},#{pageSize}
  </select>

  <select id="jdGoodSalesVolume" resultType="java.lang.String">
    SELECT order_id
    from t_esp_goods_sales_volume
  </select>
</mapper>