<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.LimitBuydetailMapper" >
    <select id="findActCurrAmtBylimitGoodsSkuId" resultType="com.apass.esp.domain.entity.LimitBuydetail">
        <![CDATA[
        SELECT
            id id,
            limit_buy_act_id limitBuyActId,
            limit_goods_sku_id limitGoodsSkuId,
            user_id userId,
            buy_no buyNo,
            created_time createdTime,
            updated_time updatedTime
        FROM
            t_esp_limit_buy_act
        WHERE 1=1
        ]]>
        <if test="limitBuyActId!=null and limitBuyActId!=''"> AND limit_buy_act_id = #{limitBuyActId} </if>
        <if test="limit_goods_sku_id!=null and limit_goods_sku_id!=''"> AND limit_goods_sku_id = #{limitGoodsSkuId} </if>
        <if test="user_id!=null and user_id!=''"> AND user_id = #{userId} </if>
        ORDER BY created_time desc
    </select>
</mapper>