<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.LimitBuyDetailMapper" >
    <sql id="QueryConditionSql">
        <where>
           <if test="limitBuyActId!=null and limitBuyActId!=''"> 
           		AND limit_buy_act_id = #{limitBuyActId} 
           </if>
           <if test="userId!=null and userId!=''"> 
           		AND user_id = #{userId} 
           </if>
           <if test="skuId!=null and skuId!=''"> 
           		AND limit_goods_sku_id = #{skuId} 
           </if>
           <if test="orderId!=null and orderId!=''">
           		AND order_id = #{orderId} 
           </if>
        </where>
   </sql>
   <select id="getUserBuyGoodsNum" resultMap="BaseResultMap">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_esp_limit_buydetail
        <include refid="QueryConditionSql" />
   </select>
</mapper>