<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.MonitorEntityMapper">

    <resultMap id="StatisticResultMap" type="com.apass.esp.domain.extentity.MonitorEntityStatistics">
        <result column="total_monitor_num" property="totalMonitorNum" jdbcType="INTEGER"/>
        <result column="method_name" property="methodName" jdbcType="VARCHAR"/>
        <result column="env" property="env" jdbcType="VARCHAR"/>
        <result column="application" property="application" jdbcType="VARCHAR"/>
        <result column="method_desciption" property="methodDescrption" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getMonitorEntitybyTime" resultMap="StatisticResultMap">
        SELECT count(1) as total_monitor_num,env,
            application,
            method_name,
            method_desciption
             from
        (SELECT * from
        t_apass_monitor
        where
            `invoke_date` BETWEEN #{date}
        AND #{currentDate}
        AND env = #{env}
        AND STATUS = '0') a GROUP BY
            method_name,
            application
    </select>


    <select id="getMonitorEntityByMethodName" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        t_apass_monitor
        where
        method_name = #{methodName}
        AND
        env = #{env}
        AND
        application = #{application}
        AND
        invoke_date
        BETWEEN
        #{date}
        AND
        #{currentDate}
        AND status=0
    </select>
</mapper>