<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.PAUserMapper" >
    <select id="selectUserByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_esp_pa_user
        where user_id = #{userId}
    </select>

    <select id="selectUserByRangeDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_esp_pa_user
        <where>
            age !=-2
            <if test="startDate != null and startDate != ''">
                and created_time > #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and #{endDate} > created_time
            </if>
        </where>
    </select>

    <select id="getCountZYCollecByStartandEndTime" resultType="Integer">
        select
          count(*)
        from t_esp_pa_user
        <where>
            <if test="startDate != null and startDate != ''">
                and created_time > #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and #{endDate} > created_time
            </if>
        </where>
    </select>

    <select id="getCountRegisterByStartandEndTime" resultType="Integer">
        select
          count(*)
        from t_esp_pa_user
        <where>
            age in (-1,-2)
            <if test="startDate != null and startDate != ''">
                and created_time > #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and #{endDate} > created_time
            </if>
        </where>
    </select>

    <select id="getCountRegisterSuccessByStartandEndTime" resultType="Integer">
        select
          count(*)
        from t_esp_pa_user
        <where>
            age = -2
            <if test="startDate != null and startDate != ''">
                and created_time > #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and #{endDate} > created_time
            </if>
        </where>
    </select>
</mapper>