<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.ProActivityCfgMapper" >

    <sql id="QueryGoodsSql">
        <where>
            <if test="status != null and status != ''">
                <if test="status=='no'">
                    and  start_time = null or end_time = null or start_time &gt; now()
                </if>
                <if test="status=='processing'">
                    and now()&gt; start_time and now() &lt;end_time
                </if>
                <if test="status=='end'">
                    and now() &gt;end_time
                </if>
            </if>
        </where>
    </sql>

    <select id="getActivityCfgListPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_esp_pro_activity_cfg
        <include refid="QueryGoodsSql" />
        <![CDATA[
        order by created_time desc,id desc
        ]]>
        <if test="startRecordIndex != null">
          <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>

    <select id ="getActivityCfgListPageCount" resultType="java.lang.Integer">
    select count(*) from t_esp_pro_activity_cfg
    <include refid="QueryGoodsSql" />
    </select>


    <select id="selectProActivityCfgByEntity" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        from t_esp_pro_activity_cfg where id in (
            SELECT pro_activity_id from t_esp_pro_coupon_rel where coupon_id = #{id}
        )
    </select>

    <select id="selectProActivityCfgByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_esp_pro_activity_cfg
        where activity_name = #{activityName}
    </select>
</mapper>