<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.ProCouponRelMapper" >
   <sql id="paramSql">
        <where>
            <if test="activityId != null">
                pro_activity_id = #{activityId}
            </if>
            <if test="couponId != null">
                coupon_id = #{couponId}
            </if>
        </where>
    </sql>
    
    <select id="getRelByActivityIdAndCouponId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_esp_pro_coupon_rel
        <include refid="paramSql" />
    </select>
</mapper>