<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >   
<mapper namespace="com.apass.esp.mapper.ProGroupGoodsMapper" >

    <select id="selectLatestByGoodsId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_esp_pro_group_goods
        where goods_id = #{goodsId} and status = 'S' order by id desc limit 1
    </select>
    
    <select id="selectGoodsByGroupId" resultMap="BaseResultMap">
       select
        <include refid="Base_Column_List" />
        from t_esp_pro_group_goods
        where group_id = #{groupId}
        order by order_sort
    </select>
    <!-- 查看商品是否存在其他有效的活动中 -->
    <select id="selectEffectiveGoodsByGoodsId" resultMap="BaseResultMap">
       select
        <include refid="Base_Column_List" />
        from t_esp_pro_group_goods
        where detail_desc = '1' 
          AND goods_id = #{goodsId} 
    </select>
    <!-- 从分组中移除该商品 -->
	<update id="updateGoods" parameterType="com.apass.esp.domain.entity.ProGroupGoods" >
	     update t_esp_pro_group_goods
	      set 
	      group_id = -1,
	      order_sort = #{orderSort,jdbcType=BIGINT},
	      update_date = #{updateDate,jdbcType=TIMESTAMP},
	      status = #{status,jdbcType=VARCHAR}
	    where id = #{id,jdbcType=BIGINT}
	 </update>
	 <select id="selectByGoodsIdAndActivityId" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List" />
        from t_esp_pro_group_goods
        where goods_id = #{goodsId} and activity_id = #{activityId} and status = 'S'
    </select>
     <select id="selectOneByGoodsIdAndActivityId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_esp_pro_group_goods
        where goods_id = #{goodsId} and activity_id = #{activityId} and detail_desc = '1'
    </select>
    <!--查看该活动下是否已经存在成功添加到分组的商品 -->
    <select id="checkActivityGroupGoods" resultType="java.lang.Integer">
        SELECT COUNT(*) 
        FROM t_esp_pro_group_goods 
        WHERE group_id !=-1
         and `status`='S'
         and  activity_id = #{activityId}
    </select>
    <!-- 删除活动下的商品 -->
   <delete id="delectGoodsByActivityId" parameterType="java.lang.Long" >
    delete from t_esp_pro_group_goods
    where activity_id = #{activityId}
   </delete>
    <!-- 查询分组下，最大的level,在此基础上+1 -->
    <select id="getMaxSortOrder"  resultType="java.lang.Integer">
     select IFNULL(max(order_sort)+1,1) from t_esp_pro_group_goods
	   <where>
		   <if test="groupId != null" >
	         and group_id = ${groupId}
	       </if>
	       and status = 'S'
	   </where>
    </select>
	<select id="getProGroupGoodsListPage" parameterType="com.apass.esp.domain.query.ProGroupGoodsQuery"
		resultType="com.apass.esp.domain.vo.ProGroupGoodsVo">
				SELECT
						a.id				 id,
						a.goods_code         goodsCode,
						a.sku_id             skuId,
						a.goods_id           goodsId,
						a.order_sort		 orderSort,
						b.goods_name         goodsName,
						b.status             goodsStatus,
						d.category_name      goodsCategory,
			            c.goods_cost_price   goodsCostPrice,
			            c.goods_price        goodsPrice,
			            a.market_price       marketPrice,
			            a.activity_price     activityPrice,
			            a.detail_desc        detailDesc,
			            a.activity_id        activityId,
			            a.status             status,
			            e.group_name         groupName
				FROM
						t_esp_pro_group_goods   a
			LEFT JOIN 	t_esp_goods_base_info   b ON a.goods_id = b.id
			LEFT JOIN   t_esp_goods_stock_info  c ON c.goods_id =b.id
			LEFT JOIN   t_esp_category          d ON b.category_id3 =d.id
			LEFT JOIN   t_esp_pro_group_manager e ON a.group_id=e.id
	    <include refid="QueryConditionSql" />
        <![CDATA[ 
         order by a.detail_desc desc
         ]]>
		<if test="startRecordIndex != null">
			<include refid="PAGINATION.MYSQL_PAGINATION" />
		</if>
	</select>
	<select id="getProGroupGoodsListPageCount" parameterType="com.apass.esp.domain.query.ProGroupGoodsQuery"
		resultType="java.lang.Integer">
				SELECT  count(*)
					FROM
					t_esp_pro_group_goods   a
					LEFT JOIN 	t_esp_goods_base_info   b ON a.goods_id = b.id
					LEFT JOIN   t_esp_goods_stock_info  c ON c.goods_id =b.id
					LEFT JOIN   t_esp_category          d ON b.category_id3 =d.id
					LEFT JOIN   t_esp_pro_group_manager e ON a.group_id=e.id
				<include refid="QueryConditionSql" />
	</select>
    <!-- 查询条件 -->
	<sql id="QueryConditionSql">
		<where>
			<if test="goodsCode != null and goodsCode != ''">
				AND a.goods_code = #{goodsCode, jdbcType=VARCHAR}
			</if>
			<if test="skuId != null and skuId != ''">
				AND a.sku_id = #{skuId, jdbcType=VARCHAR}
			</if>
			<if test="goodsId != null and goodsId != ''">
				AND a.goods_id = #{goodsId, jdbcType=BIGINT}
			</if>
			<if test="activityId != null and activityId != ''">
				AND a.activity_id = #{activityId, jdbcType=BIGINT}
			</if>
			<if test="groupId != null and groupId != ''">
				AND a.group_id = #{groupId, jdbcType=BIGINT}
			</if>
			<if test="categoryId1 != null and categoryId1 != ''">
				AND b.category_id1 = #{categoryId1, jdbcType=BIGINT}
			</if>
			<if test="categoryId2 != null and categoryId2 != ''">
				AND b.category_id2 = #{categoryId2, jdbcType=BIGINT}
			</if>
			<if test="categoryId3 != null and categoryId3 != ''">
				AND b.category_id3 = #{categoryId3, jdbcType=BIGINT}
			</if>
		</where>
	</sql>
</mapper>

