<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.ProGroupGoodsMapper" >

    <select id="selectLatestByGoodsId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_esp_pro_group_goods
        where goods_id = #{goodsId} and status = 'S' order by id desc limit 1
    </select>

    <select id="selectByGoodsIdAndActivityId">
        select
        <include refid="Base_Column_List" />
        from t_esp_pro_group_goods
        where goods_id = #{goodsId} and activity_id = #{activityId} and status = 'S'
    </select>
</mapper>

