<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.ProGroupManagerMapper" >
   
   <sql id="QueryGroupSql">
        <where>
            <if test="activityId != null and activityId != ''">
               and activity_id = #{activityId}
            </if>
            <if test="groupId != null and groupId != ''">
               and id = #{groupId}
            </if>
            <if test="groupName != null and groupName != ''">
               and group_name = #{groupName}
            </if>
        </where>
    </sql>
   
   <select id="getGroupByActivityId" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
        from t_esp_pro_group_manager 
        where activity_id = #{activityId}
      <![CDATA[ 
        order by order_sort
      ]]>
   </select>
   
   <select id="getGroupByActiIdAndOrderSort" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
        from t_esp_pro_group_manager 
        where activity_id = #{activityId} and order_sort >= #{orderSort}
        <if test="groupId != null and groupId != ''">
           and id != #{groupId}
        </if>
      <![CDATA[ 
        order by order_sort,update_date desc
      ]]>
   </select>
   
   <select id="getGroupByActiIdAndGroupName"  resultMap="BaseResultMap">
   		select <include refid="Base_Column_List" />
        from t_esp_pro_group_manager 
        <include refid="QueryGroupSql" />
   </select>
   
   <select id="getGroupByActIdListPage"  resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
       from t_esp_pro_group_manager 
        <include refid="QueryGroupSql" />
        <![CDATA[
        order by order_sort,update_date desc
        ]]>
        <if test="startRecordIndex != null">
          <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
   </select>
   
   <select id ="getGroupByActIdListPageCount" resultType="java.lang.Integer">
       select count(*) from t_esp_pro_group_manager 
      <include refid="QueryGroupSql" />
    </select>
 
</mapper>