<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.ProGroupManagerMapper" >
   
   <select id="getGroupByActivityId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select <include refid="Base_Column_List" />
        from t_esp_pro_group_manager 
        where activity_id = #{activityId}
      <![CDATA[ 
       order by create_date desc
      ]]>
   </select>
   
</mapper>