<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.ProGroupGoodsMapper" >
	<!-- 通过goodsId查询成功管理活动的商品信息 -->
   <select id="selectByGoodsId" resultMap="BaseResultMap">
    select  
    <include refid="Base_Column_List" />
    from t_esp_pro_group_goods
    where  status = 'S' 
      AND  goods_id = #{goodsId}
  </select>
</mapper>

