<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.ProMyCouponMapper" >
   <sql id="paramSql">
        <where>
            <if test="userId != null and userId != ''">
               and user_id = #{userId}
            </if>
            <if test="couponRelId != null and couponRelId != ''">
                and coupon_rel_id = #{couponRelId}
            </if>
            <if test="couponId != null and couponId != ''">
                and coupon_id = #{couponId}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="minDate != null and minDate != ''">
                and end_date &lt;#{minDate}
            </if>
            <if test="maxDate !=null and maxDate != ''">
                and end_date &gt; #{maxDate}
            </if>
        </where>
    </sql>
   <select id="getCouponByUserIdAndRelId" parameterType="com.apass.esp.domain.query.ProMyCouponQuery" resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
        from t_esp_pro_mycoupon
        <include refid="paramSql" />
   </select>
   
   <select id="getCouponByStatusAndDate" parameterType="com.apass.esp.domain.query.ProMyCouponQuery" resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
        from t_esp_pro_mycoupon
        <include refid="paramSql" />
   </select>
   
   <select id="getCouponByUserIdAndCouponId" parameterType="com.apass.esp.domain.query.ProMyCouponQuery"  resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
        from t_esp_pro_mycoupon
        <include refid="paramSql" />
   </select>

    <!--批量插入-->
    <insert id="insertProMyCoupoBach" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id" >
        insert into t_esp_pro_mycoupon
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="couponRelId != null" >
                coupon_rel_id,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="couponId != null" >
                coupon_id,
            </if>
            <if test="telephone != null" >
                telephone,
            </if>
            <if test="startDate != null" >
                start_date,
            </if>
            <if test="endDate != null" >
                end_date,
            </if>
            <if test="remarks != null" >
                remarks,
            </if>
            <if test="createdTime != null" >
                created_time,
            </if>
            <if test="updatedTime != null" >
                updated_time,
            </if>
        </trim>

        <foreach collection="list" item="item" index="index" separator="," >
            <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="userId != null" >
                    #{item.userId,jdbcType=BIGINT},
                </if>
                <if test="couponRelId != null" >
                    #{item.couponRelId,jdbcType=BIGINT},
                </if>
                <if test="status != null" >
                    #{item.status,jdbcType=VARCHAR},
                </if>
                <if test="couponId != null" >
                    #{item.couponId,jdbcType=BIGINT},
                </if>
                <if test="telephone != null" >
                    #{item.telephone,jdbcType=VARCHAR},
                </if>
                <if test="startDate != null" >
                    #{item.startDate,jdbcType=TIMESTAMP},
                </if>
                <if test="endDate != null" >
                    #{item.endDate,jdbcType=TIMESTAMP},
                </if>
                <if test="remarks != null" >
                    #{item.remarks,jdbcType=VARCHAR},
                </if>
                <if test="createdTime != null" >
                    #{item.createdTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updatedTime != null" >
                    #{item.updatedTime,jdbcType=TIMESTAMP},
                </if>
            </trim>
        </foreach>
    </insert>
</mapper>