<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.ProMyCouponMapper" >
   <sql id="paramSql">
        <where>
            <if test="userId != null and userId != ''">
               and user_id = #{userId}
            </if>
            <if test="couponRelId != null and couponRelId != ''">
                and coupon_rel_id = #{couponRelId}
            </if>
            <if test="couponId != null and couponId != ''">
                and coupon_id = #{couponId}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="minDate != null and minDate != ''">
                and end_date &lt;#{minDate}
            </if>
            <if test="maxDate !=null and maxDate != ''">
                and end_date &gt; #{maxDate}
            </if>
        </where>
    </sql>
   <select id="getCouponByUserIdAndRelId" parameterType="com.apass.esp.domain.query.ProMyCouponQuery" resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
        from t_esp_pro_mycoupon
        <include refid="paramSql" />
   </select>
   
   <select id="getCouponByStatusAndDate" parameterType="com.apass.esp.domain.query.ProMyCouponQuery" resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
        from t_esp_pro_mycoupon
        <include refid="paramSql" />
        order by updated_time desc
   </select>
   
   <select id="getCouponByUserIdAndCouponId" parameterType="com.apass.esp.domain.query.ProMyCouponQuery"  resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
        from t_esp_pro_mycoupon
        <include refid="paramSql" />
   </select>

    <!--批量插入-->
    <insert id="insertProMyCoupoBach" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id" >
        insert into t_esp_pro_mycoupon (user_id, coupon_rel_id, status,
        coupon_id, telephone, start_date,
        end_date, remarks, created_time,
        updated_time)
        values ()

        <foreach collection="proMyCouponList" item="item" index="index" separator="," >
            #{item.userId,jdbcType=BIGINT},
            #{item.couponRelId,jdbcType=BIGINT},
            #{item.status,jdbcType=VARCHAR},
            #{item.couponId,jdbcType=BIGINT},
            #{item.telephone,jdbcType=VARCHAR},
            #{item.startDate,jdbcType=TIMESTAMP},
            #{item.endDate,jdbcType=TIMESTAMP},
            #{item.remarks,jdbcType=VARCHAR},
            #{item.createdTime,jdbcType=TIMESTAMP},
            #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
    </insert>


    <update id="updateStatusByUserIdAndCouponId">
        update t_esp_pro_mycoupon set status = #{status},
        updated_time = now()
        where user_id = #{userId} and id = #{myCouponId}
    </update>
</mapper>
