<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.ProMyCouponMapper" >
   <sql id="paramSql">
        <where>
            <if test="userId != null and userId != ''">
                userId = #{userId}
            </if>
            <if test="couponRelId != null and couponRelId != ''">
                coupon_rel_id = #{couponRelId}
            </if>
            <if test="couponId != null and couponId != ''">
                coupon_id = #{couponId}
            </if>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
            <if test="minDate != null and minDate != ''">
                end_date &gt; #{minDate}
            </if>
            <if test="maxDate !=null and maxDate != ''">
                end_date &lt; #{maxDate}
            </if>
        </where>
    </sql>
   <select id="getCouponByUserIdAndRelId" resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
        from t_esp_pro_mycoupon
        <include refid="paramSql" />
   </select>
   
   <select id="getCouponByStatusAndDate" resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
        from t_esp_pro_mycoupon
        <include refid="paramSql" />
   </select>
   
   <select id="getCouponByUserIdAndCouponId" resultMap="BaseResultMap">
       select <include refid="Base_Column_List" />
        from t_esp_pro_mycoupon
        <include refid="paramSql" />
   </select>
</mapper>