<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.SearchKeysMapper" >
  
  <select id="hotSearch" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,count(key_value) as count
    from t_esp_search_keys
    where  key_status = 0
    <if test="startDate !=null"><![CDATA[ and CREATE_DATE > #{startDate}]]></if>
	<if test="endDate !=null"><![CDATA[and CREATE_DATE <= #{endDate}]]></if>
    group by KEY_VALUE
    order by count(key_value) desc,key_value desc limit 10
  </select>
  
  <select id="commonSearch" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    DISTINCT(KEY_VALUE) keyValue
    from t_esp_search_keys
    where key_status = 0 and user_id = #{userId}
    order by CREATE_DATE desc
    limit 10
  </select>
  
  <update id="deleteSearchKey" parameterType="java.lang.Long">
  	 update t_esp_search_keys set key_status = 1 where id = #{keyId} and key_status = 0
  </update>
  
  
</mapper>