<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.SearchKeysMapper" >
  
  <select id="hotSearch" resultMap="BaseResultMap">
    select 
    key_value
    ,count(key_value) as count
    from t_esp_search_keys
    where  key_status = 0
    <if test="startDate !=null"><![CDATA[ and CREATE_DATE > #{startDate}]]></if>
	<if test="endDate !=null"><![CDATA[and CREATE_DATE <= #{endDate}]]></if>
    group by KEY_VALUE
    order by count(key_value) desc,convert(key_value USING gbk) COLLATE gbk_chinese_ci asc limit 10
  </select>
  
  <select id="commonSearch" resultMap="BaseResultMap">
    select 
    KEY_VALUE,max(id)
    from t_esp_search_keys
    where key_status = 0 
    <if test="userId != null and userId != ''">
        <![CDATA[  and user_id = #{userId} ]]>
    </if>
    <if test="deviceId != null and deviceId != ''">
    	<![CDATA[  and device_id = #{deviceId} ]]>
    </if>
    GROUP BY KEY_VALUE
    order by max(id) desc
    limit 10
  </select>
  
  <delete id="deleteSearchKey">
  	 delete from t_esp_search_keys where  1 = 1
  	 <if test="userId != null and userId != ''">
        <![CDATA[  and user_id = #{userId} ]]>
    </if>
    <if test="deviceId != null and deviceId != ''">
    	<![CDATA[  and device_id = #{deviceId} ]]>
    </if>
  </delete>  
  
</mapper>