<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.TxnInfoMapper">
    <resultMap id="BaseResultMap" type="com.apass.esp.domain.entity.bill.TxnInfoEntity">
        <id column="txn_id" property="txnId" jdbcType="BIGINT"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="txn_type" property="txnType" jdbcType="VARCHAR"/>
        <result column="txn_date" property="txnDate" jdbcType="TIMESTAMP"/>
        <result column="txn_amt" property="txnAmt" jdbcType="DECIMAL"/>
        <result column="post_date" property="postDate" jdbcType="TIMESTAMP"/>
        <result column="txn_desc" property="txnDesc" jdbcType="VARCHAR"/>
        <result column="orig_txn_id" property="origTxnId" jdbcType="VARCHAR"/>
        <result column="orig_trans_date" property="origTransDate" jdbcType="VARCHAR"/>
        <result column="orig_txn_code" property="origTxnCode" jdbcType="VARCHAR"/>
        <result column="orig_txn_amt" property="origTxnAmt" jdbcType="DECIMAL"/>
        <result column="stmt_date" property="stmtDate" jdbcType="TIMESTAMP"/>
        <result column="loan_id" property="loanId" jdbcType="BIGINT"/>
        <result column="open_bank_id" property="openBankId" jdbcType="VARCHAR"/>
        <result column="open_bank" property="openBank" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        txn_id, order_id, user_id, txn_type, txn_date, txn_amt,
        post_date,txn_desc,orig_txn_id,orig_trans_date,orig_txn_code,orig_txn_amt,
        stmt_date, loan_id,open_bank_id,open_bank
    </sql>

    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_apass_txn_info
        where order_id = #{value}
        order by txn_type asc
    </select>
    
    <select id="queryTxnInfoByOrderidAndTxntypeInSql" resultMap="BaseResultMap" parameterType="java.lang.String">
       SELECT
			<include refid="Base_Column_List"/>
		FROM
			t_apass_txn_info
		WHERE
			order_id = #{value} and txn_type in ('T01','T05')
    </select>
    
    <select id="queryOrigTxnIdByOrderidAndstatus" resultMap="BaseResultMap">
       SELECT
			<include refid="Base_Column_List"/>
		FROM
			t_apass_txn_info
		WHERE
			order_id = #{orderId} and txn_type = #{typeCode}
    </select>

    <update id="update">
        update t_apass_txn_info
        set txn_date =#{date}
        WHERE
        order_id =#{orderId}
    </update>
    
      <update id="updateTime" >
        update t_apass_txn_info
        set txn_date =#{date}
        WHERE
        order_id =#{orderId}
    </update>

    <insert id="insert" parameterType="com.apass.esp.domain.entity.bill.TxnInfoEntity" useGeneratedKeys="true" keyProperty="txnId" >
        insert into t_apass_txn_info (order_id,user_id,txn_type,txn_date,txn_amt,post_date,status,
        txn_desc,orig_trans_date,
        create_user,create_date,update_user,update_date)
        values (#{orderId}, #{userId},#{txnType},#{txnDate},#{txnAmt},#{postDate},#{status},#{txnDesc},
        #{origTransDate},
        #{createUser},#{createDate},#{updateUser},#{updateDate})
    </insert>

    <update id="updateStatus">
       update t_apass_txn_info
       set status = #{status},update_date = now()
       WHERE
			order_id = #{orderId} and txn_type = #{typeCode}
    </update>

    <select id="selectLatestTxnByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_apass_txn_info
        WHERE
        user_id = #{userId} and txn_type = #{txnType}
        order by txn_id desc limit 1
    </select>

    <select id ="selectByOrderStatusList" resultType="com.apass.esp.domain.entity.bill.TxnOrderInfo">
      select
          tx.txn_id txnId,
          tx.order_id mainOrderId,
          ord.order_id orderId,
          ord.orderstatus orderStatus,
          ord.pay_time  payTime,
          ord.id extOrderId,
          tx.user_id userId,
          tx.txn_type txnType,
          tx.txn_date   txnDate,
          tx.txn_amt   txnAmt,
          tx.post_date   postDate,
          tx.txn_desc  txnDesc,
          tx.orig_txn_id   origTxnId,
          tx.orig_trans_date origTransDate,
          tx.loan_id  loanId,
          tx.status status,
          tx.CREATE_DATE createDate
      from t_apass_txn_info tx join t_esp_order_info ord on tx.order_id = ord.main_order_id
        where  ord.ext_parent_id!='-1'
        AND ord.orderstatus in
        <foreach collection="statusArray" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>

        <![CDATA[ and ord.update_date >= #{dateBegin}]]>
        <![CDATA[ and ord.update_date < #{dateEnd}]]>
    </select>
    <select id ="selectVBSBusinessNumList" resultType="com.apass.esp.domain.entity.bill.TxnOrderInfo">
      select
          tx.txn_id txnId,
          tx.order_id mainOrderId,
          ord.order_id orderId,
          ord.orderstatus orderStatus,
          ord.pay_time  payTime,
          ord.id extOrderId,
          tx.user_id userId,
          tx.txn_type txnType,
          tx.txn_date   txnDate,
          tx.txn_amt   txnAmt,
          tx.post_date   postDate,
          tx.txn_desc  txnDesc,
          tx.orig_txn_id   origTxnId,
          tx.orig_trans_date origTransDate,
          tx.loan_id  loanId,
          tx.status status,
          tx.CREATE_DATE createDate
      from t_apass_txn_info tx 
      left join t_esp_order_info ord on tx.order_id = ord.main_order_id 
      where tx.txn_type = 'T04' 
      AND tx.status = 'S' 
      AND tx.settle_flag != 0
      AND ord.ext_parent_id!='-1' 
      AND ord.orderstatus in
        <foreach collection="statusArray" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <![CDATA[ and ord.update_date >= #{dateBegin}]]>
        <![CDATA[ and ord.update_date < #{dateEnd}]]>
    </select>
    <select id ="selectPurchaseOrderList" resultType="com.apass.esp.domain.entity.bill.PurchaseOrderDetail">
      SELECT 
        A.id orderInfoId,
		A.order_id orderId,
		C.goods_name goodsName,
		C.goods_code goodsCode,
		D.goods_sku_attr goodsSkuAttr,
		D.goods_cost_price goodsCostPrice,
		A.goods_num stockCurrAmt 
		FROM t_esp_order_detail_info A
		LEFT JOIN t_esp_order_info B on B.order_id = A.order_id
		LEFT JOIN t_esp_goods_base_info C ON C.id = A.goods_id
		LEFT JOIN t_esp_goods_stock_info D ON D.id = A.goods_stock_id 
      where B.ext_parent_id!='-1'
        AND B.`orderstatus` in
        <foreach collection="statusArray" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <![CDATA[ and B.update_date >= #{dateBegin}]]>
        <![CDATA[ and B.update_date < #{dateEnd}]]>
    </select>
    <!-- 查采购退货  UNION ALL 查采购订单 -->
    <select id ="selectPurchaseReturnSalesList" resultType="com.apass.esp.domain.entity.bill.PurchaseReturnOrder">
      SELECT A.id orderInfoId,'6008' companyCode,D.id orderId,A.main_order_id mainOrderId,
        'Z001' orderType,C.sup_no supNo,C.merchant_code merchantCode,
        '0' carriage,A.order_id oldOrderId,A.create_date createDate
		FROM t_esp_order_info A 
		JOIN t_esp_order_detail_info B ON A.order_id = B.order_id
		LEFT JOIN t_esp_goods_base_info C ON C.id = B.goods_id
		JOIN t_esp_refund_info D ON D.order_id = A.order_id
	  WHERE A.ext_parent_id!='-1' 
		AND A.orderstatus in
		<foreach collection="orderArray" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
		AND D.status in
		<foreach collection="returnStatusArray" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND D.refund_type = '0'
		<![CDATA[ AND A.update_date >= #{dateBegin}]]>
        <![CDATA[ AND A.update_date < #{dateEnd}]]>
    UNION ALL
	  SELECT A.id orderInfoId,'6008' companyCode,A.order_id orderId,A.main_order_id mainOrderId,
        'Z002' orderType,C.sup_no supNo,C.merchant_code merchantCode,
        '0' carriage,'00000000000' oldOrderId,A.create_date createDate
		FROM t_esp_order_info A 
		JOIN t_esp_order_detail_info B ON A.order_id = B.order_id
		LEFT JOIN t_esp_goods_base_info C ON C.id = B.goods_id
	  WHERE A.ext_parent_id!='-1' 
	    AND A.orderstatus in
        <foreach collection="orderArray" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
		AND A.order_id not in 
		(SELECT D.order_id FROM t_esp_order_info D 
		JOIN t_esp_refund_info F ON F.order_id = D.order_id
		WHERE D.ext_parent_id!='-1'
		AND D.orderstatus in
        <foreach collection="orderArray" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND F.status in
        <foreach collection="returnStatusArray" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
		AND F.refund_type = '0')
		<![CDATA[ AND A.update_date >= #{dateBegin}]]>
        <![CDATA[ AND A.update_date < #{dateEnd}]]>
    </select>


    <select id="queryRepayTxnByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_apass_txn_info
        WHERE
        user_id = #{userId} and txn_type IN ('T02', 'T06')
        <![CDATA[ AND txn_date >= #{dateBegin}]]>
        <![CDATA[ AND txn_date < #{dateEnd}]]>
        order by txn_id asc
    </select>

    <select id="getTotalCreditPayNum" resultType="java.lang.Integer">
        select count(txn_id) from t_apass_txn_info
         where user_id = #{userId} and txn_type = 'T02' and status = 'S'
    </select>
</mapper>
