<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ESP管理平台</title> <#include "../common/component/library.html"/>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/merchant/merchantInforpreserve.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/easyui/outOfBounds.js"></script>
</head>
	<body>
 		<h2>编辑商户信息</h2>
	  	<table class="details_table" style="width:92%">
           <tr>
           	<td width="10%" align="right"><font color="red">*</font>商户编码:</td>
			<td align="left"><input  class="easyui-textbox" style="width: 180px;" type="text" id="editMerchantCode" name="editMerchantCode" disabled="disabled"/></td>
			<td width="10%" align="right"><font color="red">*</font>商户名称:</td>
			<td align="left"><input class="easyui-textbox" style="width: 180px;"  type="text" id="editMerchantName" name="editMerchantName" disabled="disabled"/></td>
           </tr>
           <tr>
           	 <td width="10%" align="right"><font color="red">*</font>结算是否含运费:</td>
				<td align="left">
					<select class="easyui-combobox" style="width: 180px;" id="editIsContainFreight" name="editIsContainFreight" editable="false">
	            		    <option value="">请选择</option>
						<option value="1">是</option>
						<option value="0">否</option>
	            	    </select>
				</td>
			<td width="10%" align="right"><font color="red">*</font>结算日期:</td>
			<td align="left">
           		<select id="editMerchantSettlementDate" class="easyui-combobox" name="dept" style="width:180px;" editable="false">   
					    <option value="">请选择</option>   
					    <option value="1">1号</option>   
					    <option value="2">2号</option>   
					    <option value="3">3号</option>   
					    <option value="4">4号</option>   
					    <option value="5">5号</option>   
					    <option value="6">6号</option>   
					    <option value="7">6号</option>   
					    <option value="8">8号</option>   
					    <option value="9">9号</option>   
					    <option value="10">10号</option>   
					    <option value="11">11号</option>   
					    <option value="12">12号</option>   
					    <option value="13">13号</option>   
					    <option value="14">14号</option>   
					    <option value="15">15号</option>   
					    <option value="16">16号</option>   
					    <option value="17">17号</option>   
					    <option value="18">18号</option>   
					    <option value="19">19号</option>   
					    <option value="20">20号</option>   
					    <option value="21">21号</option>   
					    <option value="22">22号</option>   
					    <option value="23">23号</option>   
					    <option value="24">24号</option>   
					    <option value="25">25号</option>   
					    <option value="26">26号</option>   
					    <option value="27">27号</option>   
					    <option value="28">28号</option>   
					</select>  
           	</td>
           </tr>
           
           <tr>
           	<td width="10%" align="right"><font color="red">*</font>所在省份:</td>
			<td align="left"><input  class="easyui-combobox" id="editMerchantProvince" style="width: 180px;" name="请选择" value="" editable="false"></td>
			<td width="10%" align="right"><font color="red">*</font>所在城市:</td>
			<td align="left"><input  class="easyui-combobox" id="editMerchantCity" style="width: 180px;" name="请选择" value="" editable="false" ></td>
           </tr>
           <tr>
           	<td width="10%" align="right"><font color="red">*</font>详细地址:</td>
			<td align="left"><input  class="easyui-textbox" style="width: 180px;" type="text"  id="editMerchantAddress"  name="editMerchantAddress" /></td>
			<td width="10%" align="right"><font color="red">*</font>邮政编码:</td>
			<td align="left"><input  class="easyui-textbox" style="width: 180px;" type="text"  id="editMerchantPostcode"  name="editMerchantPostcode"/></td>
           </tr>
           <tr>
              	<td width="10%" align="right"><font color="red">*</font>商户类型:</td>
			<td align="left"><select class="easyui-combobox" style="width: 180px;" id="editMerchantType" name="editMerchantType" editable="false">
            		    <option value="">请选择</option>
					<option value="1">个人</option>
					<option value="2">企业</option>
            	 </select></td>
           	<td width="10%" align="right"><font color="red">*</font>商户昵称:</td>
			<td align="left"><input class="easyui-textbox" style="width: 180px;"  type="text" id="editMerchantNickname" name="editMerchantNickname" /></td>
           </tr>
           <tr>
           	<td width="15%" align="right"><font color="red">*</font>结算银行名称:</td>
			<td align="left"><input class="easyui-textbox" style="width: 180px;"  type="text" id="editSettlementBankName" name="editSettlementBankName" /></td>
           	<td width="15%" align="right"><font color="red">*</font>结算银行卡号:</td>
			<td align="left"><input class="easyui-textbox" style="width: 180px;"  type="text" id="editSettlementCardNo" name="editSettlementCardNo" /></td>
           </tr>
	   	   <tr>
           	<td width="10%" align="right"><font color="red">*</font>经营类型:</td>
			<td align="left"><input class="easyui-textbox" style="width: 180px;"  type="text" id="editManageType" name="editManageType" /></td>
            <td width="15%" align="right"><font color="red">*</font>企业机构代码:</td>
			<td align="left"><input class="easyui-textbox" style="width: 180px;"  type="text" id="editOrgCode" name="editOrgCode" /></td>
            <td><input  type="hidden" id="merchantId" name="merchantId"></td>
           </tr>
           <tr>
           		<td width="15%" align="right"><font color="red">*</font>商户状态:</td>
<!--             <td align="left"><input class="easyui-combobox" id="editMerchantStatu" style="width: 180px;" name="请选择" value="" disabled="disabled"></td> -->
				<td align="left">
					<select class="easyui-combobox" style="width: 180px;" id="editMerchantStatu" name="editMerchantStatu" disabled="disabled">
	            		<option value="">请选择</option>
						<option value="-1">无效</option>
						<option value="0">待审核</option>
						<option value="1">正常</option>
	            	 </select>
				</td>
           </tr>
           <tr>
           		<td align="right">备注:</td>
					<td><input class="easyui-textbox" id="message"
						style="width: 180px; height: 60px" data-options="multiline:true" disabled="disabled">
					</td>
           </tr>
	   </table>
	  <br/><br/>
	   <div>
	   	<table>
	   		<tr style="margin-top: 22px;">
		   		<td colspan="4" width="32%" align="left">
					<span id="saveIdSpan" style="display: none">
						<a href="javascript:void(0);" id="saveMerchant" style="margin-right: 15px;" class="easyui-linkbutton">保&nbsp;存&nbsp;</a>
					</span>
				</td>
				<td colspan="4" align="left">
					<span id="agreeSubmit" style="display: none">
						<a href="javascript:void(0);" id="submitMerchant" style="margin-right: 15px;" class="easyui-linkbutton">提&nbsp;交&nbsp;</a>
					</span>
				</td>
				<td colspan="4" align="left">
					<span id="agreeFlush">
						<a href="javascript:void(0);" id="flush" style="margin-right: 15px;" class="easyui-linkbutton">刷&nbsp;新&nbsp;</a>
					</span>
				</td>
	        </tr>
	   	</table>
	   </div>
	</body>
</html>
