<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.DataAppuserRetentionMapper" >
  <resultMap id="BaseResultMap" type="com.apass.esp.domain.entity.DataAppuserRetention" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="txn_id" property="txnId" jdbcType="VARCHAR" />
    <result column="platformids" property="platformids" jdbcType="TINYINT" />
    <result column="day1retention" property="day1retention" jdbcType="VARCHAR" />
    <result column="day3retention" property="day3retention" jdbcType="VARCHAR" />
    <result column="day7retention" property="day7retention" jdbcType="VARCHAR" />
    <result column="day14retention" property="day14retention" jdbcType="VARCHAR" />
    <result column="day30retention" property="day30retention" jdbcType="VARCHAR" />
    <result column="dauday1retention" property="dauday1retention" jdbcType="VARCHAR" />
    <result column="dauday3retention" property="dauday3retention" jdbcType="VARCHAR" />
    <result column="dauday7retention" property="dauday7retention" jdbcType="VARCHAR" />
    <result column="dauday14retention" property="dauday14retention" jdbcType="VARCHAR" />
    <result column="dauday30retention" property="dauday30retention" jdbcType="VARCHAR" />
    <result column="day7churnuser" property="day7churnuser" jdbcType="VARCHAR" />
    <result column="day14churnuser" property="day14churnuser" jdbcType="VARCHAR" />
    <result column="day7backuser" property="day7backuser" jdbcType="VARCHAR" />
    <result column="day14backuser" property="day14backuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, created_time, updated_time, is_delete, txn_id, platformids, day1retention, day3retention, 
    day7retention, day14retention, day30retention, dauday1retention, dauday3retention, 
    dauday7retention, dauday14retention, dauday30retention, day7churnuser, day14churnuser, 
    day7backuser, day14backuser
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_data_appuser_retention
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_data_appuser_retention
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.apass.esp.domain.entity.DataAppuserRetention" useGeneratedKeys="true" keyProperty="id" >
    insert into t_data_appuser_retention (created_time, updated_time, is_delete, 
      txn_id, platformids, day1retention, 
      day3retention, day7retention, day14retention, 
      day30retention, dauday1retention, dauday3retention, 
      dauday7retention, dauday14retention, dauday30retention, 
      day7churnuser, day14churnuser, day7backuser, 
      day14backuser)
    values (#{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR}, 
      #{txnId,jdbcType=VARCHAR}, #{platformids,jdbcType=TINYINT}, #{day1retention,jdbcType=VARCHAR}, 
      #{day3retention,jdbcType=VARCHAR}, #{day7retention,jdbcType=VARCHAR}, #{day14retention,jdbcType=VARCHAR}, 
      #{day30retention,jdbcType=VARCHAR}, #{dauday1retention,jdbcType=VARCHAR}, #{dauday3retention,jdbcType=VARCHAR}, 
      #{dauday7retention,jdbcType=VARCHAR}, #{dauday14retention,jdbcType=VARCHAR}, #{dauday30retention,jdbcType=VARCHAR}, 
      #{day7churnuser,jdbcType=VARCHAR}, #{day14churnuser,jdbcType=VARCHAR}, #{day7backuser,jdbcType=VARCHAR}, 
      #{day14backuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apass.esp.domain.entity.DataAppuserRetention" useGeneratedKeys="true" keyProperty="id" >
    insert into t_data_appuser_retention
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="txnId != null" >
        txn_id,
      </if>
      <if test="platformids != null" >
        platformids,
      </if>
      <if test="day1retention != null" >
        day1retention,
      </if>
      <if test="day3retention != null" >
        day3retention,
      </if>
      <if test="day7retention != null" >
        day7retention,
      </if>
      <if test="day14retention != null" >
        day14retention,
      </if>
      <if test="day30retention != null" >
        day30retention,
      </if>
      <if test="dauday1retention != null" >
        dauday1retention,
      </if>
      <if test="dauday3retention != null" >
        dauday3retention,
      </if>
      <if test="dauday7retention != null" >
        dauday7retention,
      </if>
      <if test="dauday14retention != null" >
        dauday14retention,
      </if>
      <if test="dauday30retention != null" >
        dauday30retention,
      </if>
      <if test="day7churnuser != null" >
        day7churnuser,
      </if>
      <if test="day14churnuser != null" >
        day14churnuser,
      </if>
      <if test="day7backuser != null" >
        day7backuser,
      </if>
      <if test="day14backuser != null" >
        day14backuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="txnId != null" >
        #{txnId,jdbcType=VARCHAR},
      </if>
      <if test="platformids != null" >
        #{platformids,jdbcType=TINYINT},
      </if>
      <if test="day1retention != null" >
        #{day1retention,jdbcType=VARCHAR},
      </if>
      <if test="day3retention != null" >
        #{day3retention,jdbcType=VARCHAR},
      </if>
      <if test="day7retention != null" >
        #{day7retention,jdbcType=VARCHAR},
      </if>
      <if test="day14retention != null" >
        #{day14retention,jdbcType=VARCHAR},
      </if>
      <if test="day30retention != null" >
        #{day30retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday1retention != null" >
        #{dauday1retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday3retention != null" >
        #{dauday3retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday7retention != null" >
        #{dauday7retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday14retention != null" >
        #{dauday14retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday30retention != null" >
        #{dauday30retention,jdbcType=VARCHAR},
      </if>
      <if test="day7churnuser != null" >
        #{day7churnuser,jdbcType=VARCHAR},
      </if>
      <if test="day14churnuser != null" >
        #{day14churnuser,jdbcType=VARCHAR},
      </if>
      <if test="day7backuser != null" >
        #{day7backuser,jdbcType=VARCHAR},
      </if>
      <if test="day14backuser != null" >
        #{day14backuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apass.esp.domain.entity.DataAppuserRetention" >
    update t_data_appuser_retention
    <set >
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="txnId != null" >
        txn_id = #{txnId,jdbcType=VARCHAR},
      </if>
      <if test="platformids != null" >
        platformids = #{platformids,jdbcType=TINYINT},
      </if>
      <if test="day1retention != null" >
        day1retention = #{day1retention,jdbcType=VARCHAR},
      </if>
      <if test="day3retention != null" >
        day3retention = #{day3retention,jdbcType=VARCHAR},
      </if>
      <if test="day7retention != null" >
        day7retention = #{day7retention,jdbcType=VARCHAR},
      </if>
      <if test="day14retention != null" >
        day14retention = #{day14retention,jdbcType=VARCHAR},
      </if>
      <if test="day30retention != null" >
        day30retention = #{day30retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday1retention != null" >
        dauday1retention = #{dauday1retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday3retention != null" >
        dauday3retention = #{dauday3retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday7retention != null" >
        dauday7retention = #{dauday7retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday14retention != null" >
        dauday14retention = #{dauday14retention,jdbcType=VARCHAR},
      </if>
      <if test="dauday30retention != null" >
        dauday30retention = #{dauday30retention,jdbcType=VARCHAR},
      </if>
      <if test="day7churnuser != null" >
        day7churnuser = #{day7churnuser,jdbcType=VARCHAR},
      </if>
      <if test="day14churnuser != null" >
        day14churnuser = #{day14churnuser,jdbcType=VARCHAR},
      </if>
      <if test="day7backuser != null" >
        day7backuser = #{day7backuser,jdbcType=VARCHAR},
      </if>
      <if test="day14backuser != null" >
        day14backuser = #{day14backuser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apass.esp.domain.entity.DataAppuserRetention" >
    update t_data_appuser_retention
    set created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      txn_id = #{txnId,jdbcType=VARCHAR},
      platformids = #{platformids,jdbcType=TINYINT},
      day1retention = #{day1retention,jdbcType=VARCHAR},
      day3retention = #{day3retention,jdbcType=VARCHAR},
      day7retention = #{day7retention,jdbcType=VARCHAR},
      day14retention = #{day14retention,jdbcType=VARCHAR},
      day30retention = #{day30retention,jdbcType=VARCHAR},
      dauday1retention = #{dauday1retention,jdbcType=VARCHAR},
      dauday3retention = #{dauday3retention,jdbcType=VARCHAR},
      dauday7retention = #{dauday7retention,jdbcType=VARCHAR},
      dauday14retention = #{dauday14retention,jdbcType=VARCHAR},
      dauday30retention = #{dauday30retention,jdbcType=VARCHAR},
      day7churnuser = #{day7churnuser,jdbcType=VARCHAR},
      day14churnuser = #{day14churnuser,jdbcType=VARCHAR},
      day7backuser = #{day7backuser,jdbcType=VARCHAR},
      day14backuser = #{day14backuser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>