<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.DataEsporderdetailMapper" >
  <resultMap id="BaseResultMap" type="com.apass.esp.domain.entity.DataEsporderdetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="order_analysis_id" property="orderAnalysisId" jdbcType="BIGINT" />
    <result column="order_detail_id" property="orderDetailId" jdbcType="BIGINT" />
    <result column="confirm_goods_num" property="confirmGoodsNum" jdbcType="INTEGER" />
    <result column="confirm_amt" property="confirmAmt" jdbcType="INTEGER" />
    <result column="pay_goods_num" property="payGoodsNum" jdbcType="INTEGER" />
    <result column="pay_amt" property="payAmt" jdbcType="INTEGER" />
    <result column="percent_conv" property="percentConv" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, created_time, updated_time, is_delete, order_analysis_id, order_detail_id, confirm_goods_num, 
    confirm_amt, pay_goods_num, pay_amt, percent_conv
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_data_esporderdetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_data_esporderdetail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.apass.esp.domain.entity.DataEsporderdetail" useGeneratedKeys="true" keyProperty="id" >
    insert into t_data_esporderdetail (created_time, updated_time, is_delete, 
      order_analysis_id, order_detail_id, confirm_goods_num, 
      confirm_amt, pay_goods_num, pay_amt, 
      percent_conv)
    values (#{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR}, 
      #{orderAnalysisId,jdbcType=BIGINT}, #{orderDetailId,jdbcType=BIGINT}, #{confirmGoodsNum,jdbcType=INTEGER}, 
      #{confirmAmt,jdbcType=INTEGER}, #{payGoodsNum,jdbcType=INTEGER}, #{payAmt,jdbcType=INTEGER}, 
      #{percentConv,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.apass.esp.domain.entity.DataEsporderdetail" useGeneratedKeys="true" keyProperty="id" >
    insert into t_data_esporderdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="orderAnalysisId != null" >
        order_analysis_id,
      </if>
      <if test="orderDetailId != null" >
        order_detail_id,
      </if>
      <if test="confirmGoodsNum != null" >
        confirm_goods_num,
      </if>
      <if test="confirmAmt != null" >
        confirm_amt,
      </if>
      <if test="payGoodsNum != null" >
        pay_goods_num,
      </if>
      <if test="payAmt != null" >
        pay_amt,
      </if>
      <if test="percentConv != null" >
        percent_conv,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="orderAnalysisId != null" >
        #{orderAnalysisId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailId != null" >
        #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="confirmGoodsNum != null" >
        #{confirmGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="confirmAmt != null" >
        #{confirmAmt,jdbcType=INTEGER},
      </if>
      <if test="payGoodsNum != null" >
        #{payGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="payAmt != null" >
        #{payAmt,jdbcType=INTEGER},
      </if>
      <if test="percentConv != null" >
        #{percentConv,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apass.esp.domain.entity.DataEsporderdetail" >
    update t_data_esporderdetail
    <set >
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="orderAnalysisId != null" >
        order_analysis_id = #{orderAnalysisId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailId != null" >
        order_detail_id = #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="confirmGoodsNum != null" >
        confirm_goods_num = #{confirmGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="confirmAmt != null" >
        confirm_amt = #{confirmAmt,jdbcType=INTEGER},
      </if>
      <if test="payGoodsNum != null" >
        pay_goods_num = #{payGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="payAmt != null" >
        pay_amt = #{payAmt,jdbcType=INTEGER},
      </if>
      <if test="percentConv != null" >
        percent_conv = #{percentConv,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apass.esp.domain.entity.DataEsporderdetail" >
    update t_data_esporderdetail
    set created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      order_analysis_id = #{orderAnalysisId,jdbcType=BIGINT},
      order_detail_id = #{orderDetailId,jdbcType=BIGINT},
      confirm_goods_num = #{confirmGoodsNum,jdbcType=INTEGER},
      confirm_amt = #{confirmAmt,jdbcType=INTEGER},
      pay_goods_num = #{payGoodsNum,jdbcType=INTEGER},
      pay_amt = #{payAmt,jdbcType=INTEGER},
      percent_conv = #{percentConv,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>