<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.JdGategoryMapper" >
  <resultMap id="BaseResultMap" type="com.apass.esp.third.party.jd.entity.base.JdGategory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cat_id" property="catId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="cat_class" property="catClass" jdbcType="INTEGER" />
    <result column="category_id1" property="categoryId1" jdbcType="BIGINT" />
    <result column="category_id2" property="categoryId2" jdbcType="BIGINT" />
    <result column="category_id3" property="categoryId3" jdbcType="BIGINT" />
    <result column="flag" property="flag" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cat_id, name, parent_id, cat_class, category_id1, category_id2, category_id3, 
    flag, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_esp_jd_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_esp_jd_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.apass.esp.third.party.jd.entity.base.JdGategory" useGeneratedKeys="true" keyProperty="id" >
    insert into t_esp_jd_category (cat_id, name, parent_id, 
      cat_class, category_id1, category_id2, 
      category_id3, flag, status)
    values (#{catId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, 
      #{catClass,jdbcType=INTEGER}, #{categoryId1,jdbcType=BIGINT}, #{categoryId2,jdbcType=BIGINT}, 
      #{categoryId3,jdbcType=BIGINT}, #{flag,jdbcType=BIT}, #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.apass.esp.third.party.jd.entity.base.JdGategory" useGeneratedKeys="true" keyProperty="id" >
    insert into t_esp_jd_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="catClass != null" >
        cat_class,
      </if>
      <if test="categoryId1 != null" >
        category_id1,
      </if>
      <if test="categoryId2 != null" >
        category_id2,
      </if>
      <if test="categoryId3 != null" >
        category_id3,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="catId != null" >
        #{catId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="catClass != null" >
        #{catClass,jdbcType=INTEGER},
      </if>
      <if test="categoryId1 != null" >
        #{categoryId1,jdbcType=BIGINT},
      </if>
      <if test="categoryId2 != null" >
        #{categoryId2,jdbcType=BIGINT},
      </if>
      <if test="categoryId3 != null" >
        #{categoryId3,jdbcType=BIGINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apass.esp.third.party.jd.entity.base.JdGategory" >
    update t_esp_jd_category
    <set >
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="catClass != null" >
        cat_class = #{catClass,jdbcType=INTEGER},
      </if>
      <if test="categoryId1 != null" >
        category_id1 = #{categoryId1,jdbcType=BIGINT},
      </if>
      <if test="categoryId2 != null" >
        category_id2 = #{categoryId2,jdbcType=BIGINT},
      </if>
      <if test="categoryId3 != null" >
        category_id3 = #{categoryId3,jdbcType=BIGINT},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apass.esp.third.party.jd.entity.base.JdGategory" >
    update t_esp_jd_category
    set cat_id = #{catId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      cat_class = #{catClass,jdbcType=INTEGER},
      category_id1 = #{categoryId1,jdbcType=BIGINT},
      category_id2 = #{categoryId2,jdbcType=BIGINT},
      category_id3 = #{categoryId3,jdbcType=BIGINT},
      flag = #{flag,jdbcType=BIT},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>