<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.LogAttrMapper" >
  <resultMap id="BaseResultMap" type="com.apass.esp.domain.entity.LogAttr" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="ext_id" property="extId" jdbcType="VARCHAR" />
    <result column="sort_type" property="sortType" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, content, ext_id, sort_type, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_esp_log_attr_info
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_esp_log_attr_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.apass.esp.domain.entity.LogAttr" useGeneratedKeys="true" keyProperty="id" >
    insert into t_esp_log_attr_info (content, ext_id, sort_type, 
      create_date, update_date)
    values (#{content,jdbcType=VARCHAR}, #{extId,jdbcType=VARCHAR}, #{sortType,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.apass.esp.domain.entity.LogAttr" useGeneratedKeys="true" keyProperty="id" >
    insert into t_esp_log_attr_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        content,
      </if>
      <if test="extId != null" >
        ext_id,
      </if>
      <if test="sortType != null" >
        sort_type,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="extId != null" >
        #{extId,jdbcType=VARCHAR},
      </if>
      <if test="sortType != null" >
        #{sortType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apass.esp.domain.entity.LogAttr" >
    update t_esp_log_attr_info
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="extId != null" >
        ext_id = #{extId,jdbcType=VARCHAR},
      </if>
      <if test="sortType != null" >
        sort_type = #{sortType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apass.esp.domain.entity.LogAttr" >
    update t_esp_log_attr_info
    set content = #{content,jdbcType=VARCHAR},
      ext_id = #{extId,jdbcType=VARCHAR},
      sort_type = #{sortType,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>