<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.MerchantInfoMapper" >
  <resultMap id="BaseResultMap" type="com.apass.esp.domain.entity.MerchantInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="merchant_province" property="merchantProvince" jdbcType="VARCHAR" />
    <result column="merchant_city" property="merchantCity" jdbcType="VARCHAR" />
    <result column="merchant_address" property="merchantAddress" jdbcType="VARCHAR" />
    <result column="merchant_Postcode" property="merchantPostcode" jdbcType="VARCHAR" />
    <result column="merchant_type" property="merchantType" jdbcType="VARCHAR" />
    <result column="merchant_settlement_date" property="merchantSettlementDate" jdbcType="INTEGER" />
    <result column="merchant_settlement_freight" property="merchantSettlementFreight" jdbcType="DECIMAL" />
    <result column="merchant_nickname" property="merchantNickname" jdbcType="VARCHAR" />
    <result column="settlement_bank_name" property="settlementBankName" jdbcType="VARCHAR" />
    <result column="settlement_card_no" property="settlementCardNo" jdbcType="VARCHAR" />
    <result column="manage_type" property="manageType" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="is_contain_freight" property="isContainFreight" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchant_code, merchant_name, merchant_province, merchant_city, merchant_address, 
    merchant_Postcode, merchant_type, merchant_settlement_date, merchant_settlement_freight, 
    merchant_nickname, settlement_bank_name, settlement_card_no, manage_type, org_code, 
    is_contain_freight, status, remark, create_user, create_date, update_user, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_esp_merchant_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_esp_merchant_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.apass.esp.domain.entity.MerchantInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into t_esp_merchant_info (merchant_code, merchant_name, merchant_province, 
      merchant_city, merchant_address, merchant_Postcode, 
      merchant_type, merchant_settlement_date, merchant_settlement_freight, 
      merchant_nickname, settlement_bank_name, settlement_card_no, 
      manage_type, org_code, is_contain_freight, 
      status, remark, create_user, 
      create_date, update_user, update_date
      )
    values (#{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, #{merchantProvince,jdbcType=VARCHAR}, 
      #{merchantCity,jdbcType=VARCHAR}, #{merchantAddress,jdbcType=VARCHAR}, #{merchantPostcode,jdbcType=VARCHAR}, 
      #{merchantType,jdbcType=VARCHAR}, #{merchantSettlementDate,jdbcType=INTEGER}, #{merchantSettlementFreight,jdbcType=DECIMAL}, 
      #{merchantNickname,jdbcType=VARCHAR}, #{settlementBankName,jdbcType=VARCHAR}, #{settlementCardNo,jdbcType=VARCHAR}, 
      #{manageType,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{isContainFreight,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apass.esp.domain.entity.MerchantInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into t_esp_merchant_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="merchantProvince != null" >
        merchant_province,
      </if>
      <if test="merchantCity != null" >
        merchant_city,
      </if>
      <if test="merchantAddress != null" >
        merchant_address,
      </if>
      <if test="merchantPostcode != null" >
        merchant_Postcode,
      </if>
      <if test="merchantType != null" >
        merchant_type,
      </if>
      <if test="merchantSettlementDate != null" >
        merchant_settlement_date,
      </if>
      <if test="merchantSettlementFreight != null" >
        merchant_settlement_freight,
      </if>
      <if test="merchantNickname != null" >
        merchant_nickname,
      </if>
      <if test="settlementBankName != null" >
        settlement_bank_name,
      </if>
      <if test="settlementCardNo != null" >
        settlement_card_no,
      </if>
      <if test="manageType != null" >
        manage_type,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="isContainFreight != null" >
        is_contain_freight,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantProvince != null" >
        #{merchantProvince,jdbcType=VARCHAR},
      </if>
      <if test="merchantCity != null" >
        #{merchantCity,jdbcType=VARCHAR},
      </if>
      <if test="merchantAddress != null" >
        #{merchantAddress,jdbcType=VARCHAR},
      </if>
      <if test="merchantPostcode != null" >
        #{merchantPostcode,jdbcType=VARCHAR},
      </if>
      <if test="merchantType != null" >
        #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="merchantSettlementDate != null" >
        #{merchantSettlementDate,jdbcType=INTEGER},
      </if>
      <if test="merchantSettlementFreight != null" >
        #{merchantSettlementFreight,jdbcType=DECIMAL},
      </if>
      <if test="merchantNickname != null" >
        #{merchantNickname,jdbcType=VARCHAR},
      </if>
      <if test="settlementBankName != null" >
        #{settlementBankName,jdbcType=VARCHAR},
      </if>
      <if test="settlementCardNo != null" >
        #{settlementCardNo,jdbcType=VARCHAR},
      </if>
      <if test="manageType != null" >
        #{manageType,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="isContainFreight != null" >
        #{isContainFreight,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apass.esp.domain.entity.MerchantInfo" >
    update t_esp_merchant_info
    <set >
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantProvince != null" >
        merchant_province = #{merchantProvince,jdbcType=VARCHAR},
      </if>
      <if test="merchantCity != null" >
        merchant_city = #{merchantCity,jdbcType=VARCHAR},
      </if>
      <if test="merchantAddress != null" >
        merchant_address = #{merchantAddress,jdbcType=VARCHAR},
      </if>
      <if test="merchantPostcode != null" >
        merchant_Postcode = #{merchantPostcode,jdbcType=VARCHAR},
      </if>
      <if test="merchantType != null" >
        merchant_type = #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="merchantSettlementDate != null" >
        merchant_settlement_date = #{merchantSettlementDate,jdbcType=INTEGER},
      </if>
      <if test="merchantSettlementFreight != null" >
        merchant_settlement_freight = #{merchantSettlementFreight,jdbcType=DECIMAL},
      </if>
      <if test="merchantNickname != null" >
        merchant_nickname = #{merchantNickname,jdbcType=VARCHAR},
      </if>
      <if test="settlementBankName != null" >
        settlement_bank_name = #{settlementBankName,jdbcType=VARCHAR},
      </if>
      <if test="settlementCardNo != null" >
        settlement_card_no = #{settlementCardNo,jdbcType=VARCHAR},
      </if>
      <if test="manageType != null" >
        manage_type = #{manageType,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="isContainFreight != null" >
        is_contain_freight = #{isContainFreight,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apass.esp.domain.entity.MerchantInfo" >
    update t_esp_merchant_info
    set merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_province = #{merchantProvince,jdbcType=VARCHAR},
      merchant_city = #{merchantCity,jdbcType=VARCHAR},
      merchant_address = #{merchantAddress,jdbcType=VARCHAR},
      merchant_Postcode = #{merchantPostcode,jdbcType=VARCHAR},
      merchant_type = #{merchantType,jdbcType=VARCHAR},
      merchant_settlement_date = #{merchantSettlementDate,jdbcType=INTEGER},
      merchant_settlement_freight = #{merchantSettlementFreight,jdbcType=DECIMAL},
      merchant_nickname = #{merchantNickname,jdbcType=VARCHAR},
      settlement_bank_name = #{settlementBankName,jdbcType=VARCHAR},
      settlement_card_no = #{settlementCardNo,jdbcType=VARCHAR},
      manage_type = #{manageType,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      is_contain_freight = #{isContainFreight,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>