<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.esp.mapper.WithdrawBindRelMapper" >
  <resultMap id="BaseResultMap" type="com.apass.esp.domain.entity.WithdrawBindRel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="TINYINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="is_new" property="isNew" jdbcType="TINYINT" />
    <result column="invite_user_id" property="inviteUserId" jdbcType="BIGINT" />
    <result column="invite_mobile" property="inviteMobile" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, user_id, mobile, is_new, invite_user_id, invite_mobile, create_date, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_esp_withdraw_bind_rel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_esp_withdraw_bind_rel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.apass.esp.domain.entity.WithdrawBindRel" useGeneratedKeys="true" keyProperty="id" >
    insert into t_esp_withdraw_bind_rel (activity_id, user_id, mobile, 
      is_new, invite_user_id, invite_mobile, 
      create_date, update_date)
    values (#{activityId,jdbcType=TINYINT}, #{userId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, 
      #{isNew,jdbcType=TINYINT}, #{inviteUserId,jdbcType=BIGINT}, #{inviteMobile,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.apass.esp.domain.entity.WithdrawBindRel" useGeneratedKeys="true" keyProperty="id" >
    insert into t_esp_withdraw_bind_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="isNew != null" >
        is_new,
      </if>
      <if test="inviteUserId != null" >
        invite_user_id,
      </if>
      <if test="inviteMobile != null" >
        invite_mobile,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=TINYINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isNew != null" >
        #{isNew,jdbcType=TINYINT},
      </if>
      <if test="inviteUserId != null" >
        #{inviteUserId,jdbcType=BIGINT},
      </if>
      <if test="inviteMobile != null" >
        #{inviteMobile,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apass.esp.domain.entity.WithdrawBindRel" >
    update t_esp_withdraw_bind_rel
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=TINYINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isNew != null" >
        is_new = #{isNew,jdbcType=TINYINT},
      </if>
      <if test="inviteUserId != null" >
        invite_user_id = #{inviteUserId,jdbcType=BIGINT},
      </if>
      <if test="inviteMobile != null" >
        invite_mobile = #{inviteMobile,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apass.esp.domain.entity.WithdrawBindRel" >
    update t_esp_withdraw_bind_rel
    set activity_id = #{activityId,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      is_new = #{isNew,jdbcType=TINYINT},
      invite_user_id = #{inviteUserId,jdbcType=BIGINT},
      invite_mobile = #{inviteMobile,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>