<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apass.esp.mapper.WithdrawActivityInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.apass.esp.domain.entity.WithdrawActivityInfo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="activity_name" jdbcType="VARCHAR" property="activityName" />
		<result column="a_start_date" jdbcType="TIMESTAMP" property="aStartDate" />
		<result column="a_end_date" jdbcType="TIMESTAMP" property="aEndDate" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="type" jdbcType="TINYINT" property="type" />
		<result column="rebate" jdbcType="DECIMAL" property="rebate" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
	</resultMap>
	<sql id="Base_Column_List">
		id, activity_name, a_start_date, a_end_date, status, type, rebate,
		create_by, create_date,
		update_by, update_date
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_esp_withdraw_activity_info
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_esp_withdraw_activity_info
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" keyProperty="id"
		parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo"
		useGeneratedKeys="true">
		insert into t_esp_withdraw_activity_info (activity_name, a_start_date,
		a_end_date,
		status, type, rebate,
		create_by, create_date, update_by,
		update_date)
		values (#{activityName,jdbcType=VARCHAR}, #{aStartDate,jdbcType=TIMESTAMP},
		#{aEndDate,jdbcType=TIMESTAMP},
		#{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{rebate,jdbcType=DECIMAL},
		#{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" keyProperty="id"
		parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo"
		useGeneratedKeys="true">
		insert into t_esp_withdraw_activity_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="activityName != null">
				activity_name,
			</if>
			<if test="aStartDate != null">
				a_start_date,
			</if>
			<if test="aEndDate != null">
				a_end_date,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="rebate != null">
				rebate,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="activityName != null">
				#{activityName,jdbcType=VARCHAR},
			</if>
			<if test="aStartDate != null">
				#{aStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="aEndDate != null">
				#{aEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="type != null">
				#{type,jdbcType=TINYINT},
			</if>
			<if test="rebate != null">
				#{rebate,jdbcType=DECIMAL},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo">
		update t_esp_withdraw_activity_info
		<set>
			<if test="activityName != null">
				activity_name = #{activityName,jdbcType=VARCHAR},
			</if>
			<if test="aStartDate != null">
				a_start_date = #{aStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="aEndDate != null">
				a_end_date = #{aEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=TINYINT},
			</if>
			<if test="rebate != null">
				rebate = #{rebate,jdbcType=DECIMAL},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo">
		update t_esp_withdraw_activity_info
		set activity_name = #{activityName,jdbcType=VARCHAR},
		a_start_date = #{aStartDate,jdbcType=TIMESTAMP},
		a_end_date = #{aEndDate,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=TINYINT},
		type = #{type,jdbcType=TINYINT},
		rebate = #{rebate,jdbcType=DECIMAL},
		create_by = #{createBy,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<resultMap id="BaseResultMap"
		type="com.apass.esp.domain.entity.WithdrawActivityInfo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="activity_name" jdbcType="VARCHAR" property="activityName" />
		<result column="a_start_date" jdbcType="TIMESTAMP" property="aStartDate" />
		<result column="a_end_date" jdbcType="TIMESTAMP" property="aEndDate" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="type" jdbcType="TINYINT" property="type" />
		<result column="rebate" jdbcType="DECIMAL" property="rebate" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
	</resultMap>
	<sql id="Base_Column_List">
		id, activity_name, a_start_date, a_end_date, status, type, rebate,
		create_by, create_date,
		update_by, update_date
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_esp_withdraw_activity_info
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_esp_withdraw_activity_info
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" keyProperty="id"
		parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo"
		useGeneratedKeys="true">
		insert into t_esp_withdraw_activity_info (activity_name, a_start_date,
		a_end_date,
		status, type, rebate,
		create_by, create_date, update_by,
		update_date)
		values (#{activityName,jdbcType=VARCHAR}, #{aStartDate,jdbcType=TIMESTAMP},
		#{aEndDate,jdbcType=TIMESTAMP},
		#{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{rebate,jdbcType=DECIMAL},
		#{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" keyProperty="id"
		parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo"
		useGeneratedKeys="true">
		insert into t_esp_withdraw_activity_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="activityName != null">
				activity_name,
			</if>
			<if test="aStartDate != null">
				a_start_date,
			</if>
			<if test="aEndDate != null">
				a_end_date,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="rebate != null">
				rebate,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="activityName != null">
				#{activityName,jdbcType=VARCHAR},
			</if>
			<if test="aStartDate != null">
				#{aStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="aEndDate != null">
				#{aEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="type != null">
				#{type,jdbcType=TINYINT},
			</if>
			<if test="rebate != null">
				#{rebate,jdbcType=DECIMAL},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo">
		update t_esp_withdraw_activity_info
		<set>
			<if test="activityName != null">
				activity_name = #{activityName,jdbcType=VARCHAR},
			</if>
			<if test="aStartDate != null">
				a_start_date = #{aStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="aEndDate != null">
				a_end_date = #{aEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=TINYINT},
			</if>
			<if test="rebate != null">
				rebate = #{rebate,jdbcType=DECIMAL},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo">
		update t_esp_withdraw_activity_info
		set activity_name = #{activityName,jdbcType=VARCHAR},
		a_start_date = #{aStartDate,jdbcType=TIMESTAMP},
		a_end_date = #{aEndDate,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=TINYINT},
		type = #{type,jdbcType=TINYINT},
		rebate = #{rebate,jdbcType=DECIMAL},
		create_by = #{createBy,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<resultMap id="BaseResultMap"
		type="com.apass.esp.domain.entity.WithdrawActivityInfo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="activity_name" jdbcType="VARCHAR" property="activityName" />
		<result column="a_start_date" jdbcType="TIMESTAMP" property="aStartDate" />
		<result column="a_end_date" jdbcType="TIMESTAMP" property="aEndDate" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="type" jdbcType="TINYINT" property="type" />
		<result column="rebate" jdbcType="DECIMAL" property="rebate" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
	</resultMap>
	<sql id="Base_Column_List">
		id, activity_name, a_start_date, a_end_date, status, type, rebate,
		create_by, create_date,
		update_by, update_date
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_esp_withdraw_activity_info
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_esp_withdraw_activity_info
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" keyProperty="id"
		parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo"
		useGeneratedKeys="true">
		insert into t_esp_withdraw_activity_info (activity_name, a_start_date,
		a_end_date,
		status, type, rebate,
		create_by, create_date, update_by,
		update_date)
		values (#{activityName,jdbcType=VARCHAR}, #{aStartDate,jdbcType=TIMESTAMP},
		#{aEndDate,jdbcType=TIMESTAMP},
		#{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{rebate,jdbcType=DECIMAL},
		#{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" keyProperty="id"
		parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo"
		useGeneratedKeys="true">
		insert into t_esp_withdraw_activity_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="activityName != null">
				activity_name,
			</if>
			<if test="aStartDate != null">
				a_start_date,
			</if>
			<if test="aEndDate != null">
				a_end_date,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="rebate != null">
				rebate,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="activityName != null">
				#{activityName,jdbcType=VARCHAR},
			</if>
			<if test="aStartDate != null">
				#{aStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="aEndDate != null">
				#{aEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="type != null">
				#{type,jdbcType=TINYINT},
			</if>
			<if test="rebate != null">
				#{rebate,jdbcType=DECIMAL},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo">
		update t_esp_withdraw_activity_info
		<set>
			<if test="activityName != null">
				activity_name = #{activityName,jdbcType=VARCHAR},
			</if>
			<if test="aStartDate != null">
				a_start_date = #{aStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="aEndDate != null">
				a_end_date = #{aEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=TINYINT},
			</if>
			<if test="rebate != null">
				rebate = #{rebate,jdbcType=DECIMAL},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.apass.esp.domain.entity.WithdrawActivityInfo">
		update t_esp_withdraw_activity_info
		set activity_name = #{activityName,jdbcType=VARCHAR},
		a_start_date = #{aStartDate,jdbcType=TIMESTAMP},
		a_end_date = #{aEndDate,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=TINYINT},
		type = #{type,jdbcType=TINYINT},
		rebate = #{rebate,jdbcType=DECIMAL},
		create_by = #{createBy,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>