<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ESP管理平台</title> <#include "../common/component/library.html"/>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/dateextence.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/activitycfg/activity.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/datadic.js"></script>
	<style>
		#lookPictureShowImg {
			display:block;
			height:300px;
			margin:0 auto 10px;
		}
		#lookPictureImgWrap img {
			box-sizing:border-box;
			display:inline-block;
			width:100px;
			height:100px;
			cursor:point;
			margin:0 4px;
			border:1px #333 solid;
		}
		#lookPictureImgWrap img:hover {
			border:2px #000 solid;
		}
	
	
	</style>
</head>
<body>
	<input id="grantedAuthority" type="hidden" value="${grantedAuthority!}">
	<!-- 配置添加 -->
			<form id="configForm" method="POST" >
			<table style="width: 80%;height: auto;">
				<tr>
					<td align="right">活动名称：</td>
					<td align="left"><input type="text" id="homeName" name="homeName"
						 class="easyui-textbox" style="width: 160px;" maxlength="12" /></td>
				</tr>
				<tr>
					<td align="right">开始时间：</td>
					<td align="left"><input type="text" id="startTime" name="startTime" editable="false" class="easyui-datetimebox"
						style="width: 160px;" maxlength="255"></td>
				</tr>
				<tr>
					<td align="right">活动类型：</td>
					<td align="left">
					   <select class="easyui-combobox" style="width: 160px;" name="activityType" required="required" editable="false" >   
	                        <option value="">请选择</option>
	                        <option value="none">无优惠</option>
	                        <option value="less">满减</option>
                       </select>
					</td>
				</tr>
				<tr>
					<td align="right">优惠门槛：</td>
					<td align="left"><input type="text" id="offerSill1" name="offerSill1"
						 class="easyui-numberbox" style="width: 160px;" maxlength="15"/></td>
				</tr>
				<tr>
					<td align="right">优惠金额：</td>
					<td align="left"><input type="text" id="discountAmonut1" name="discountAmonut1"
						 class="easyui-numberbox" style="width: 160px;" maxlength="15"/></td>
				</tr>
				<tr>
					<td align="right">优惠门槛：</td>
					<td align="left"><input type="text" id="offerSill2" name="offerSill2"
						 class="easyui-textbox" style="width: 160px;" maxlength="15"/></td>
				</tr>
				<tr>
					<td align="right">优惠金额：</td>
					<td align="left"><input type="text" id="discountAmonut2" name="discountAmonut2"
						 class="easyui-textbox" style="width: 160px;" maxlength="15"/></td>
				</tr>
				<tr>
					<td align="right">分组管理：</td>
					<td align="left"><input type="button" class="easyui-buttonbox" value="创建"/></td>
				</tr>
				<tr style="margin-top: 22px;">
	                <td colspan="2">
	                    <a href="javascript:void(0);" id="cancelAdd" style="margin-right: 15px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>
	                    <a href="javascript:void(0);" id="agreeAdd" style="margin-right: 15px;" class="easyui-linkbutton">确&nbsp;定&nbsp;</a>
	                </td>
               </tr>
			</table>
			</form>
	<!-- 配置添加结束  -->
</body>
</html>