<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ESP管理平台</title> <#include "../common/component/library.html"/>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/dateextence.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/activitycfg/activityAdd.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/datadic.js"></script>
	<style>
		#lookPictureShowImg {
			display:block;
			height:300px;
			margin:0 auto 10px;
		}
		#lookPictureImgWrap img {
			box-sizing:border-box;
			display:inline-block;
			width:100px;
			height:100px;
			cursor:point;
			margin:0 4px;
			border:1px #333 solid;
		}
		#lookPictureImgWrap img:hover {
			border:2px #000 solid;
		}
	
	
	</style>
</head>
<body>
	<input id="grantedAuthority" type="hidden" value="${grantedAuthority!}">

	<div align="center" style="width: auto">
		<div style="width: 1000px;margin-bottom: 10px">
			<span style="border: 1px solid grey;width: inherit;">
				<span class="firstStep" style="font-weight: bolder;color: red">&nbsp;基&nbsp;本&nbsp;信&nbsp;息&nbsp;</span>
				=============================================================>>
			<span class="secondStep">&nbsp;选&nbsp;择&nbsp;商&nbsp;品&nbsp;</span></span>
		</div>
		<!-- 配置添加 -->
		<!--基本信息-->
		<div id="baseInfoCfg">
			<form id="configForm" method="POST" >
				<table style="width: 80%;height: auto;">
					<tr>
						<td align="right">活动名称：</td>
						<td align="left"><input type="text" id="activityName" name="activityName"
												class="easyui-textbox" style="width: 160px;"/></td>
					</tr>
					<tr>
						<td align="right">开始时间：</td>
						<td align="left"><input type="text" id="startTime" name="startTime" editable="false" class="easyui-datetimebox"
												style="width: 160px;"></td>
					</tr>
					<tr>
						<td align="right">结束时间：</td>
						<td align="left"><input type="text" id="endTime" name="endTime" editable="false" class="easyui-datetimebox"
												style="width: 160px;"></td>
					</tr>
					<tr>
						<td align="right">活动类型：</td>
						<td align="left">
							<select class="easyui-combobox" style="width: 160px;" id="activityType" name="activityType" required="required" editable="false" >
								<option value="">请选择</option>
								<option value="N">无优惠</option>
								<option value="Y">满减</option>
							</select>
						</td>
					</tr>
				</table>
				<div id="xxxxxxID" style="display: none;">
					<table style="width: 80%;height: auto;">
						<tr>
							<td align="right">优惠门槛：</td>
							<td align="left"><input type="text" id="offerSill1" name="offerSill1"
													class="easyui-numberbox" style="width: 160px;" data-options="min:0"/></td>
						</tr>
						<tr>
							<td align="right">优惠金额：</td>
							<td align="left"><input type="text" id="discount1" name="discount1"
													class="easyui-numberbox" style="width: 160px;" data-options="min:0"/></td>
						</tr>
						<tr>
							<td align="right">优惠门槛：</td>
							<td align="left"><input type="text" id="offerSill2" name="offerSill2"
													class="easyui-numberbox" style="width: 160px;" data-options="min:0"/></td>
						</tr>
						<tr>
							<td align="right">优惠金额：</td>
							<td align="left"><input type="text" id="discount2" name="discount2"
													class="easyui-numberbox" style="width: 160px;" data-options="min:0"/></td>
						</tr>
					</table>
				</div>
				<table style="width: 80%;height: auto;">
					<tr style="margin-top: 22px;" align="right">
						<td colspan="2">
							<!--<a href="javascript:void(0);" id="cancelAdd" style="margin-right: 15px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>-->
							<a href="javascript:void(0);" id="agreeAdd" style="margin-right: 15px;" class="easyui-linkbutton">下&nbsp;一&nbsp;步&nbsp;</a>
						</td>
					</tr>
				</table>
			</form>
		</div>

	</div>

	<!-- 配置添加结束  -->
</body>
</html>