<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ESP管理平台</title> <#include "../common/component/library.html"/>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/dateextence.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/homeconfig/index.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/datadic.js"></script>
	<style>
		#lookPictureShowImg {
			display:block;
			height:300px;
			margin:0 auto 10px;
		}
		#lookPictureImgWrap img {
			box-sizing:border-box;
			display:inline-block;
			width:100px;
			height:100px;
			cursor:point;
			margin:0 4px;
			border:1px #333 solid;
		}
		#lookPictureImgWrap img:hover {
			border:2px #000 solid;
		}
	
	
	</style>
</head>
<body style="word-break: break-all;">
	<input id="grantedAuthority" type="hidden" value="${grantedAuthority!}">
	<div id="tb">
		<div class="search">
			<table>
				<tr>
					<td width="100%"><a id="add" href="javascript:void(0);"
						class="easyui-linkbutton add-btn"
						data-options="iconCls:'icon-search'">新&nbsp;增&nbsp;</a>&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="list"></div>
	
	<!-- 配置添加 -->
	<div id="addConfig" class="easyui-window" title="<font color='black'>新增</font>" hidden="hidden"
		style="width: 500px; height: 250px; display: none; text-align: center;" >
			<form id="configForm" method="POST" enctype="multipart/form-data" modelAttribute="config">
			<table style="width: 100%;height: auto;">
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>窗口名称：</td>
					<td align="left"><input type="text" id="homeName" name="homeName"
						 class="easyui-textbox" style="width: 160px;" maxlength="20" /></td>
				</tr>
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>开始时间：</td>
					<td align="left"><input type="text" id="startTime" name="startTime" editable="false" class="easyui-datetimebox"
						style="width: 160px;" maxlength="255"></td>
				</tr>
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>结束时间：</td>
					<td align="left"><input type="text" id="endTime" name="endTime" editable="false" style="width: 160px;" class="easyui-datetimebox"/></td>
				</tr>
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>活动链接：</td>
					<td align="left"><input type="text" id="activeLink" name="activeLink"
						 class="easyui-textbox" style="width: 160px;" maxlength="200"/></td>
				</tr>
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>上传图片：</td>
					<td align="left">
						<input type="file" id="addConfigFilePic" name="addConfigFilePic" />
						<br/><span style="color: red;">支持格式：.jpg .png 图片尺寸：580*750 图片大小：&lt;=300kb</span>
					</td>
				</tr>
				<tr style="margin-top: 22px;">
	                <td colspan="2">
	                    <a href="javascript:void(0);" id="cancelAdd" style="margin-right: 15px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>
	                    <a href="javascript:void(0);" id="agreeAdd" style="margin-right: 15px;" class="easyui-linkbutton">确&nbsp;定&nbsp;</a>
	                </td>
               </tr>
			</table>
			</form>
	</div>
	<!-- 配置添加结束  -->
	<!-- 修改配置开始 -->
	<div id="editConfig" class="easyui-window" title="<font color='black'>编辑</font>" hidden="hidden"
		style="width: 700px; height: 350px; display: none; text-align: center;" >
			<form id="configFormEdit" method="POST" enctype="multipart/form-data" modelAttribute="config">
			<table style="width: 100%;height: auto;">
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>窗口名称：</td>
					<td align="left"><input type="text" id="homeNameEdit" name="homeName"
						 class="easyui-textbox" style="width: 160px;" maxlength="20" readonly/></td>
				</tr>
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>开始时间：</td>
					<td align="left"><input type="text" id="startTimeEdit" name="startTime1" class="easyui-datetimebox"
						style="width: 160px;" maxlength="255" disabled/><input id="startTimeEdit1" name="startTime" class="easyui-datetimebox" readonly type="hidden"/></td>
				</tr>
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>结束时间：</td>
					<td align="left"><input type="text" id="endTimeEdit" name="endTime" editable="false" style="width: 160px;" class="easyui-datetimebox"></input></td>
				</tr>
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>活动链接：</td>
					<td align="left"><input type="text" id="activeLinkEdit" name="activeLink"
						 class="easyui-textbox" style="width: 160px;" maxlength="200"></input><input type="hidden" id="id" name="id"/><input type="hidden" id="logoUrl" name="logoUrl"/></td>
				</tr>
				<tr>
					<td width="20%" align="right"><span style="color: red;">*</span>上传图片：</td>
					<td align="left">
						<input type="file" id="addConfigFilePicEdit" name="addConfigFilePic" />
						<br><img id="addShowHomePicId" src="" width="580" height="750">
						<br/><span style="color: red;">支持格式：.jpg .png 图片尺寸：580*750 图片大小：&lt;=300kb</span>
					</td>
				</tr>
				<tr style="margin-top: 22px;">
	                <td colspan="2">
	                    <a href="javascript:void(0);" id="cancelEdit" style="margin-right: 15px;" class="easyui-linkbutton">取&nbsp;消&nbsp;</a>
	                    <a href="javascript:void(0);" id="agreeEdit" style="margin-right: 15px;" class="easyui-linkbutton">确&nbsp;定&nbsp;</a>
	                </td>
               </tr>
			</table>
			</form>
	</div>
	<!-- 修改配置结束 -->
</body>
</html>