<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="${rc.contextPath}/WebContent/css/base/css"/>
    <script src="${rc.contextPath}/WebContent/js/reset.js"></script>
    <script>
        var ctx = '${rc.contextPath}';
    </script>
</head>

<body ontouchstart >
	<!-- 首页banner点击进入页面 -->
	<div class="wPageIdx">
	    <img class="main" src="${rc.contextPath}/WebContent/images/page-index.jpg" alt=""/>
	</div>

</body>
</html>