<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SLD管理平台</title> <#include "../common/component/library.html"/>
<style>
#resetPasswordDetails+.window .panel-header>.panel-title {
	color: #000;
}

.window>.panel-header>.panel-title {
	color: #000;
}

#resetPasswordDetails table {
	padding-top: 10px;
}

#resetPasswordDetails table td input {
	border: 1px solid #B4CFFF;
	text-indent: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#goodsUrlListDiv img{
	width:30px;height:30px;
}
</style>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/order/ordersex.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/datadic.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/WebContent/js/common/dateextence.js"></script>
</head>
<body>
<!-- 授权标示 -->
<input id="grantedAuthority" type="hidden" value="${grantedAuthority!}">
	<!-- 订单查询列表 -->
	<div id="tablelist"></div>

	<!-- 售后详情列表 -->
	<div id="afterSales"></div>

	<div id="comments">
	   <form id="monitorForm" method="POST">
			<table style="width: 100%;height: auto;">
				<tr>
					<td width="20%" align="right">拒绝原因：</td>
					<td>
					   <textarea rows="5" cols="6" id="methodDesciption" name="methodDesciption"></textarea>
					   <span style="color: red;">*</span></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>