<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- insert,select,selectByPK,count, delete, update,updateAll -->
<mapper namespace="ActivityInfoEntity">

	<sql id="QueryGoodsSql">
		<where>
			<if test="status != null and status != ''">
				AND status = #{status, jdbcType=VARCHAR}
			</if>
			<if test="goodsId != null ">
				AND goods_id = #{goodsId}
			</if>
		</where>
	</sql>
	
	<select id="activityPageList" parameterType="ActivityInfoEntity" resultType="ActivityInfoEntity">
	<![CDATA[
		select
			  id id,
			  p_discount_rate pDiscountRate,
			  a_start_date aStartDate,
			  a_end_date aEndDate,
			  goods_id goodsId,
			  status,
			  remark
			from t_esp_activity_info
	]]>
		<where>
		   <if test="goodsId != null and goodsId != ''">
		       AND goods_id = #{goodsId, jdbcType=BIGINT}
		   </if>
		</where>
	<![CDATA[
		ORDER BY a_start_date DESC 
	]]>
	</select>
	<select id="activityListForCheck" parameterType="ActivityInfoEntity" resultType="ActivityInfoEntity">
	<![CDATA[
			select
			  id id,
			  p_discount_rate pDiscountRate,
			  a_start_date aStartDate,
			  a_end_date aEndDate,
			  goods_id goodsId,
			  status,
			  remark
			from t_esp_activity_info
			
	]]>
		<where>
			   and status!=-1
			   <if test="goodsId != null and goodsId != ''">
			       AND goods_id = #{goodsId, jdbcType=BIGINT}
			   </if>
		</where>
	<![CDATA[
		ORDER BY a_start_date DESC 
	]]>
	</select>

	<select id="select" parameterType="ActivityInfoEntity" resultType="ActivityInfoEntity">
	<![CDATA[
			select
				  id id,
				  p_discount_rate pDiscountRate,
				  a_start_date aStartDate,
				  a_end_date aEndDate,
				  goods_id goodsId,
				  status,
				  remark
				from t_esp_activity_info
	]]>
	<include refid="QueryGoodsSql"/>
	</select>

	<select id="activityPageListCount" parameterType="ActivityInfoEntity" resultType="Integer">
		<![CDATA[
			select COUNT(1) from t_esp_activity_info
		]]>
		<where>
			   <if test="goodsId != null and goodsId != ''">
			       AND goods_id = #{goodsId, jdbcType=BIGINT}
			       AND STATUS!='-1'
			   </if>
		</where>
		 
	</select>

	 
 	<select id="activityAndGoodsPageList" parameterType="ActivityInfoEntity" resultType="ActivityInfoEntity">
	<![CDATA[
			select 
				  t.id id,
				  t.p_discount_rate pDiscountRate,
				  t.a_start_date aStartDate,
				  t.a_end_date aEndDate,
				  t.goods_id goodsId,
				  t.status,
				  t.status statusDesc,
				  t.remark,
				  f.delist_time delistTime,
				  f.list_time listTime,
				  f.category_id3 categoryId3,
				  f.merchant_code merchantCode,
				  f.goods_name goodsName,
				  f.goods_model goodsModel,
				  f.goods_sku_type goodsSkuType,
				  t2.merchant_name merchantName,
				  f.external_id externalId,
				  f.goods_code goodsCode
				  from
				  t_esp_activity_info t 
				  left join t_esp_goods_base_info f
				  on t.goods_id = f.id 
				  left join t_esp_merchant_info t2 on t2.merchant_code=f.merchant_code
	]]>
		<where>
			   <if test="goodsName != null and goodsName != ''">
			       AND f.goods_Name like '%${goodsName}%'
			   </if>
			    <if test="status != null and status != ''">
			       AND t.status = #{status}
			   </if>
			    <if test="merchantCode != null and merchantCode != ''">
			       AND f.merchant_code = #{merchantCode}
			   </if>
			   <if test="goodsCode != null and goodsCode != ''">
				AND (f.goods_code = #{goodsCode} OR f.external_id = #{goodsCode})
			   </if>
			   <if test="merchantName != null and merchantName != ''">
				   AND t2.merchant_name LIKE '%${merchantName}%'
			   </if>
		</where>
	<![CDATA[
		order by t.create_date desc,t.status
	]]>
	</select>
	
 	<select id="activityList" parameterType="ActivityInfoEntity" resultType="ActivityInfoEntity">
	<![CDATA[
			select 
				  t.id id,
				  t.p_discount_rate pDiscountRate,
				  t.a_start_date aStartDate,
				  t.a_end_date aEndDate,
				  t.goods_id goodsId,
				  t.status,
				  t.status statusDesc,
				  t.remark,
				  f.category_id3 categoryId3,
				  f.delist_time delistTime,
				  f.list_time listTime,
				  f.external_id externalId,
				  f.merchant_code merchantCode,
				  f.goods_name goodsName,
				  f.goods_model goodsModel,
				  f.goods_sku_type goodsSkuType,
				  t2.merchant_name merchantName,
				  f.goods_code goodsCode
						from
						  t_esp_activity_info t 
						  left join t_esp_goods_base_info f  on t.goods_id = f.id 
						  left join t_esp_merchant_info t2 on t2.merchant_code=f.merchant_code
	]]>
		<where>
			   <if test="goodsName != null and goodsName != ''">
			       AND f.goods_Name like '%${goodsName}%'
			   </if>
			    <if test="status != null and status != ''">
			       AND t.status = #{status}
			   </if>
			    <if test="merchantCode != null and merchantCode != ''">
			       AND f.merchant_code = #{merchantCode}
			   </if>
			   <if test="goodsCode != null and goodsCode != ''">
			      AND (f.goods_code = #{goodsCode} OR f.external_id = #{goodsCode})
			   </if>
			   <if test="merchantName != null and merchantName != ''">
			       AND  t2.merchant_name LIKE '%${merchantName}%'
			   </if>
		</where>
	<![CDATA[
		order by t.create_date desc,t.status
	]]>
	</select>

	<select id="activityAndGoodsPageListCount" parameterType="ActivityInfoEntity" resultType="Integer">
		<![CDATA[
			select 
  					count(1) 
					from
					  t_esp_activity_info t 
					  left join t_esp_goods_base_info f 
				      on t.goods_id = f.id 
				      left join t_esp_merchant_info t2 on t2.merchant_code=f.merchant_code
				      
		]]>
	   	<where>
			   <if test="goodsName != null and goodsName != ''">
			       AND f.goods_Name like '%${goodsName}%'
			   </if>
			    <if test="status != null and status != ''">
			       AND t.status = #{status}
			   </if>
			    <if test="merchantCode != null and merchantCode != ''">
			       AND f.merchant_code = #{merchantCode}
			   </if>
			   <if test="goodsCode != null and goodsCode != ''">
				AND (f.goods_code = #{goodsCode} OR f.external_id = #{goodsCode})
			   </if>
			   <if test="merchantName != null and merchantName != ''">
				   AND t2.merchant_name LIKE '%${merchantName}%'
			   </if>
		</where>
		 
	</select>
	 
	 
	 
    <!-- 插入 -->
	<insert id="insert" parameterType="ActivityInfoEntity">
	<![CDATA[
		insert into t_esp_activity_info
	            (p_discount_rate,
	             a_start_date,
	             a_end_date,
	             goods_id,
	             status,
	             remark,create_date)
			values (#{pDiscountRate, jdbcType=DECIMAL},
		        	#{aStartDate, jdbcType=VARCHAR}, 
			        #{aEndDate, jdbcType=VARCHAR},
			        #{goodsId, jdbcType=BIGINT},
			        #{status, jdbcType=VARCHAR},
			        #{remark, jdbcType=VARCHAR},now());
	]]>
	</insert>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="Long">
	<![CDATA[
		DELETE FROM t_esp_activity_info WHERE ID = #{value}
	]]>
	</delete>
	
		<!-- 更新 -->
	<update id="update" parameterType="ActivityInfoEntity">
		<![CDATA[
		UPDATE t_esp_activity_info 
		]]>
		<set>
			<if test="status != null and status != ''">
				status = #{status, jdbcType=VARCHAR},
			</if>
		</set>
	<![CDATA[
		WHERE ID =  #{id, jdbcType=BIGINT}
	]]>
	</update>

	<!--修改活动的过期状态 -->
	<update id="updateActivityStatusByEndtime" parameterType="String">
	<![CDATA[
		UPDATE t_esp_activity_info
		SET STATUS = '-1'
		WHERE
			a_end_date <= SYSDATE()
	]]>
	</update>
	
	<!-- 根据活动的id,查询对应活动的信息 -->
	<select id="selectActivityById" parameterType="Long" resultType="ActivityInfoEntity">
	    select 
	      id,
	      p_discount_rate,
	      a_start_date,
	      a_end_date,
	      goods_id,
	      status,
	      remark,
	      create_date
	      from t_esp_activity_info
	      where id = #{id, jdbcType=BIGINT}
	</select>
</mapper> 
