<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- insert,select,selectByPK,count, delete, update,updateAll -->
<mapper namespace="GoodsStockInfoEntity">

	<!-- 商品管理分页查询 -->
	<select id="stockInfoPage" parameterType="GoodsStockInfoEntity" resultType="GoodsStockInfoEntity">
	<![CDATA[
		SELECT
		id id,
		goods_id goodsId,
		goods_sku_attr goodsSkuAttr,
		goods_price goodsPrice,
		stock_total_amt stockTotalAmt,
		stock_curr_amt stockCurrAmt,
		create_user createUser,
		update_user updateUser,
		create_date createDate,
		update_date updateDate,
		market_price marketPrice,
		goods_Cost_Price goodsCostPrice,
		stock_Logo stockLogo,
		goods_compare_url goodsCompareUrl,
		goods_compare_url2 goodsCompareUrl2
		FROM
			t_esp_goods_stock_info
			WHERE 1=1
	]]>
	<if test="id != null and id != ''">
		AND id = #{id, jdbcType=BIGINT}
	</if>
	<if test="goodsId != null and goodsId != ''">
		AND goods_id = #{goodsId, jdbcType=BIGINT}
	</if>
	<![CDATA[
		ORDER BY update_date DESC 
	]]>
	</select>
	
	<!-- 商品管理count -->
	<select id="stockInfoPageCount" parameterType="GoodsStockInfoEntity" resultType="Integer">
		<![CDATA[
			SELECT COUNT(1) FROM t_esp_goods_stock_info 
			WHERE 1=1
		]]>
		<if test="id != null and id != ''">
			AND id = #{id, jdbcType=BIGINT}
		</if>
		<if test="goodsId != null and goodsId != ''">
			AND goods_id = #{goodsId, jdbcType=BIGINT}
		</if>
	</select>
	
	
	<!-- 根据商品id查询 -->
	<select id="loadByGoodsId" parameterType="Long" resultType="GoodsStockInfoEntity">
	<![CDATA[
		SELECT
		id id,
		id goodsStockId,
		goods_id goodsId,
		goods_sku_attr goodsSkuAttr,
		goods_price goodsPrice,
		stock_total_amt stockTotalAmt,
		stock_curr_amt stockCurrAmt,
		create_user createUser,
		update_user updateUser,
		create_date createDate,
		update_date updateDate,
		market_price marketPrice,
		goods_Cost_Price goodsCostPrice,
		stock_logo stockLogo,
		goods_compare_url goodsCompareUrl,
		goods_compare_url2 goodsCompareUrl2
		FROM
			t_esp_goods_stock_info
		WHERE
			goods_id=#{value}
	]]>
	</select>
	
	<!-- 获取商品当前库存量 -->
    <select id="getStockCurrAmt" parameterType="Long" resultType="Long">
    <![CDATA[
        SELECT
        stock_curr_amt stockCurrAmt
        FROM
            t_esp_goods_stock_info
        WHERE
            id=#{value}
    ]]>
    </select>
    <!-- 插入 -->
	<insert id="insert" parameterType="GoodsStockInfoEntity">
	<![CDATA[
		insert into t_esp_goods_stock_info
	            (goods_id,
	             goods_sku_attr,
	             goods_price,
	             stock_total_amt,
	             stock_curr_amt,
	             create_user,
	             update_user,
	             create_date,
	             update_date,
	             market_price,
	             goods_Cost_Price,
	             stock_Logo,
	             goods_compare_url,goods_compare_url2)
			values (#{goodsId, jdbcType=BIGINT},
			        #{goodsSkuAttr, jdbcType=VARCHAR},
		        	#{goodsPrice, jdbcType=DECIMAL},
		        	#{stockTotalAmt, jdbcType=BIGINT}, 
			        #{stockCurrAmt, jdbcType=BIGINT},
			        #{createUser, jdbcType=VARCHAR},
			        #{updateUser, jdbcType=VARCHAR},
			        CURRENT_TIMESTAMP,
			        CURRENT_TIMESTAMP,
			        #{marketPrice, jdbcType=DECIMAL},
			        #{goodsCostPrice, jdbcType=DECIMAL},
			        #{stockLogo, jdbcType=VARCHAR},
			        #{goodsCompareUrl, jdbcType=VARCHAR},
			        #{goodsCompareUrl2, jdbcType=VARCHAR});
	]]>
	</insert>
	<!-- 更新 -->
	<update id="update" parameterType="GoodsStockInfoEntity">
		<![CDATA[
		UPDATE t_esp_goods_stock_info 
		]]>
		<set>
			update_date = CURRENT_TIMESTAMP,
			update_user = #{updateUser, jdbcType=VARCHAR}, 
			<if test="stockTotalAmt != null and stockTotalAmt != ''">
				stock_total_amt = #{stockTotalAmt, jdbcType=BIGINT},
			</if>
			<if test="stockCurrAmt != null and stockCurrAmt != ''">
				stock_curr_amt = #{stockCurrAmt, jdbcType=BIGINT},
			</if>
			<if test="stockLogo != null and stockLogo != ''">
				stock_logo = #{stockLogo},
			</if>
		</set>
	<![CDATA[
		WHERE ID =  #{id, jdbcType=BIGINT}
	]]>
	</update>
	<!-- 加库存 -->
	<update id="updateService" parameterType="GoodsStockInfoEntity">
		<![CDATA[
		update t_esp_goods_stock_info A
		]]>
		<set>
			A.update_date = CURRENT_TIMESTAMP,
			A.update_user = #{updateUser, jdbcType=VARCHAR}, 
			<if test="goodsSkuAttr != null and goodsSkuAttr != ''">
				A.goods_sku_attr = #{goodsSkuAttr},
			</if>
			<if test="stockTotalAmt != null and stockTotalAmt != ''">
				A.stock_total_amt = (A.stock_total_amt + #{stockTotalAmt, jdbcType=BIGINT}),
			</if>
			<if test="stockCurrAmt != null and stockCurrAmt != ''">
				A.stock_curr_amt =(A.stock_curr_amt + #{stockCurrAmt, jdbcType=BIGINT}),
			</if>
			<if test="goodsPrice != null and goodsPrice != ''">
				A.goods_price = #{goodsPrice, jdbcType=BIGINT},
			</if>
			<if test="marketPrice != null and marketPrice != ''">
			   A.market_price = #{marketPrice, jdbcType=BIGINT},
			</if>
			<if test="goodsCostPrice != null and goodsCostPrice != ''">
			  A.goods_Cost_Price = #{goodsCostPrice, jdbcType=BIGINT},
			</if>
			<if test="goodsCompareUrl != null and goodsCompareUrl != ''">
			  A.goods_compare_url = #{goodsCompareUrl, jdbcType=VARCHAR},
			</if>
			<if test="goodsCompareUrl2 != null and goodsCompareUrl2 != ''">
			  A.goods_compare_url2 = #{goodsCompareUrl2, jdbcType=VARCHAR},
			</if>
			
		</set>
	<![CDATA[
		WHERE A.ID =  #{id, jdbcType=BIGINT}
	]]>
	</update>
	
  	<select id="selectByPK" resultType="GoodsStockInfoEntity" parameterType="Long" >
		SELECT
			t1.ID                    	 goodsStockId,
			t1.ID						 id,
			t1.GOODS_ID                 goodsId,
			t1.GOODS_PRICE              goodsPrice,
			t1.GOODS_COST_PRICE         goodsCostPrice,
			t1.MARKET_PRICE             marketPrice,
			t1.GOODS_SKU_ATTR           goodsSkuAttr,
			t1.STOCK_TOTAL_AMT          stockTotalAmt,
			t1.STOCK_CURR_AMT           stockCurrAmt,
			t1.STOCK_LOGO               stockLogo,
			t1.CREATE_USER              createUser,
            t1.UPDATE_USER              updateUser,
            t1.CREATE_DATE              createDate,
            t1.UPDATE_DATE              updateDate,
			t1.goods_compare_url 		 goodsCompareUrl,
			t1.goods_compare_url2 		 goodsCompareUrl2,
			t2.source                    source,
			t2.goods_logo_url            goodsLogoUrl
		FROM
			T_ESP_GOODS_STOCK_INFO t1 ,
		    T_ESP_GOODS_BASE_INFO  t2
		WHERE
		    t1.GOODS_ID=t2.ID
		AND t1.ID = #{value}
  	</select>
  	
  	<!-- 根据商品id查询 商品所有 sku属性 信息 -->
    <select id="getSkuInfo" parameterType="Long" resultType="com.apass.esp.domain.dto.goods.GoodsStockSkuDto">
        <![CDATA[
            SELECT
                ID                       goodsStockId,
                GOODS_PRICE              goodsPrice,
                GOODS_SKU_ATTR           goodsSkuAttr,
                STOCK_CURR_AMT           stockCurrAmt,
                STOCK_LOGO               stockLogo
            FROM
                T_ESP_GOODS_STOCK_INFO
            WHERE
                GOODS_ID=#{value}
        ]]>
    </select>
    	<!-- 根据商品id查询 商品库存中市场价最高价 -->
    <select id="getMaxMarketPriceByGoodsId" parameterType="Long" resultType="Long">
        <![CDATA[
           SELECT
						MAX(market_price) minprice
			FROM
						t_esp_goods_stock_info
			WHERE       stock_curr_amt>0 
			  AND       goods_id=#{value}
		 GROUP BY       goods_id
        ]]>
    </select>
  	 <!-- 更新库存 -->
	<update id="updateCurrAmtAndTotalAmount" parameterType="GoodsStockInfoEntity">
		<![CDATA[
		UPDATE t_esp_goods_stock_info 
		]]>
		<set>
			update_date = CURRENT_TIMESTAMP,
			<if test="stockTotalAmt != null">
				stock_total_amt = #{stockTotalAmt, jdbcType=BIGINT},
			</if>
			<if test="stockCurrAmt != null">
				stock_curr_amt = #{stockCurrAmt, jdbcType=BIGINT},
			</if>
		</set>
	<![CDATA[
		WHERE ID =  #{id} and stock_curr_amt=#{stockAmt}
	]]>
	</update>
	
	<!-- 批量删除 -->
	<delete id="deleteJDGoodsStockBatch">
        delete from t_esp_goods_stock_info where goods_id in (
        <foreach collection="list" item="goodsId" separator=",">
            #{goodsId}
        </foreach>
        )  
   </delete>
   
</mapper> 
