<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- insert,select,selectByPK,count, delete, update,updateAll -->
<mapper namespace="NationEntity">

	<!-- 分页查询&过滤查询 -->
	<select id="selectCityList" resultType="NationEntity">
		<![CDATA[
			SELECT  ID                    ID,
					CODE                  CODE,
					PROVINCE              PROVINCE,
					CITY                  CITY,
					DISTRICT              DISTRICT,
					PARENT                PARENT,
					PREFIX                PREFI	X
			FROM T_ESP_WORK_CITY WHERE PARENT IN 
				(SELECT ID FROM T_ESP_WORK_CITY WHERE CODE=#{value})
		]]>
	</select>
	
	<!-- 根据province查询code -->
	<select id="queryDistrictCodeByName" resultType="String">
		<![CDATA[
			SELECT CODE FROM T_ESP_WORK_CITY WHERE PROVINCE = #{value}
		]]>
	</select>
	<!-- 根据code查询 -->
	<select id="selectByCode" resultType="NationEntity">
		<![CDATA[
				SELECT  ID                    ID,
					CODE                  CODE,
					PROVINCE              PROVINCE,
					CITY                  CITY,
					DISTRICT              DISTRICT,
					TOWNS                 TOWNS,
					PARENT                PARENT,
					PREFIX                PREFIX,
					`LEVEL`               `LEVEL`
			FROM t_esp_work_city_jd WHERE CODE=#{value}
		]]>
	</select>
		<!-- 根据code查询 -->
	<select id="selectListByCode" resultType="NationEntity" parameterType="NationEntity">
		<![CDATA[
				SELECT  ID                    ID,
						CODE                  CODE,
						PROVINCE              PROVINCE,
						CITY                  CITY,
						DISTRICT              DISTRICT,
						TOWNS                 TOWNS,
						PARENT                PARENT,
						PREFIX                PREFIX,
						`LEVEL`               `LEVEL`
			FROM    t_esp_work_city_jd   
			WHERE   PARENT=#{code, jdbcType=VARCHAR}
			AND     `LEVEL`=#{level, jdbcType=VARCHAR}
			ORDER BY PREFIX
		]]>
	</select>
</mapper> 
