<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrderInfoEntity">
	<!-- 查询条件 -->
	<sql id="QueryConditionSql">
			<if test="orderId != null and orderId != ''">
				and order_Id = #{orderId, jdbcType=VARCHAR}
			</if>
			<if test="userId != null">
				and user_id=#{userId, jdbcType=BIGINT}
			</if>
			<if test="payType != null and payType != ''">
				and payType=#{payType, jdbcType=VARCHAR}
			</if>
			<if test="payStatus != null and payStatus != ''">
				and paystatus=#{payStatus, jdbcType=VARCHAR}
			</if>
			<if test="mainOrderId != null and mainOrderId != ''">
				and main_order_id=#{mainOrderId, jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''">
				and orderstatus=#{status, jdbcType=VARCHAR}
			</if>
			<if test="isDelete != null and isDelete != ''">
			    and is_delete=#{isDelete, jdbcType=VARCHAR}
			</if>
	</sql>

	<select id="select" parameterType="OrderInfoEntity" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			remark remark,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			province province,
			city city,
			district district,
			address address,
			postcode postcode,
			name name,
			telephone telephone,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate,
            addressId               addressId,
            down_payment_amount    downPaymentAmount,
			create_date createDate,
			update_date updateDate,
			pre_delivery preDelivery,
			source source,
			main_order_id mainOrderId
		FROM
			t_esp_order_info
		]]>
		<where>
			<![CDATA[
					orderstatus !='D08' and ext_parent_id!='-1'
				 ]]>
 			<include refid="QueryConditionSql" />
		</where>
    <![CDATA[
        ORDER BY create_date DESC
    ]]>
    </select>

	<select id="selectByMainOrderId" parameterType="String" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			remark remark,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			province province,
			city city,
			district district,
			address address,
			postcode postcode,
			name name,
			telephone telephone,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate,
            addressId               addressId,
            down_payment_amount    downPaymentAmount,
			create_date createDate,
			update_date updateDate,
			pre_delivery preDelivery
		FROM
			t_esp_order_info
		where main_order_id=#{value} and ext_parent_id!='-1'
		]]>
	</select>
	
	<select id="selectByOrderIdList" parameterType="java.util.HashMap" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			remark remark,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			province province,
			city city,
			district district,
			address address,
			postcode postcode,
			name name,
			telephone telephone,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate,
            addressId               addressId,
            down_payment_amount    downPaymentAmount,
			create_date createDate,
			update_date updateDate,
			pre_delivery preDelivery
		FROM
			t_esp_order_info
		where 1=1 and ext_parent_id!='-1'
		]]>
		<if test="orderIdArray != null">
			AND order_id in
			<foreach collection="orderIdArray" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		<![CDATA[
		ORDER BY update_date DESC
		]]>
	</select>

	<select id="queryOrderInfoList" parameterType="java.util.HashMap"
		resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			remark remark,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			province province,
			city city,
			district district,
			address address,
			postcode postcode,
			name name,
			telephone telephone,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate,
            addressId               addressId,
            down_payment_amount    downPaymentAmount,
			create_date createDate,
			update_date updateDate,
			pre_delivery preDelivery
		FROM
			t_esp_order_info
			WHERE 1=1 and ext_parent_id!='-1'
		]]>
		<if test="userId != null and userId != ''">
			AND user_id=#{userId}
		</if>
		<if test="statusArray != null">
			AND orderstatus in
			<foreach collection="statusArray" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		<![CDATA[
		ORDER BY update_date DESC
		]]>
	</select>
	
	
	<select id="selectByOrderIdAndUserId" parameterType="HashMap" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			remark remark,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			logistics_sign_time logisticsSignDate,
			merchant_code merchantCode,
			province province,
			city city,
			district district,
			address address,
			postcode postcode,
			name name,
			telephone telephone,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate,
            addressId               addressId,
            main_order_id           mainOrderId,
            down_payment_amount    downPaymentAmount,
			create_date createDate,
			update_date updateDate,
			pre_delivery preDelivery,
			source source,
			ext_order_id extOrderId,
			ext_parent_id extParentId
		FROM
			t_esp_order_info
			WHERE 1=1 and ext_parent_id!='-1'
		]]>
		<if test="userId != null">
			AND user_id=#{userId}
		</if>
		<if test="orderId != null and orderId != ''">
			AND order_id=#{orderId}
		</if>
		<![CDATA[
		ORDER BY update_date DESC
		]]>
	</select>
	
	<insert id="insert" parameterType="OrderInfoEntity" useGeneratedKeys="true" keyProperty="id">
		insert into t_esp_order_info
            (user_id,
             order_amt,
             order_id,
             payType,
             goods_num,
             paystatus,
             orderstatus,
             remark,
             merchant_code,
             logistics_name,
             logistics_no,
             extend_acceptgoodsNum,
             province,
             city,
             district,
             address,
             postcode,
             name,
             telephone,
             addressId,
             device_type,
             create_date,
             update_date,
             main_order_id,
             pre_delivery,
             source,
             ext_order_id,
             pre_stock_status,
             ext_parent_id
            )
			values (
			#{userId, jdbcType=BIGINT},
	        #{orderAmt, jdbcType=DECIMAL},
	        #{orderId, jdbcType=VARCHAR},
	        #{payType, jdbcType=VARCHAR},
	        #{goodsNum, jdbcType=INTEGER},
	        #{payStatus, jdbcType=VARCHAR},
	        #{status, jdbcType=VARCHAR},
	        #{remark, jdbcType=VARCHAR},
			#{merchantCode, jdbcType=VARCHAR},
	        #{logisticsName, jdbcType=VARCHAR},
	        #{logisticsNo, jdbcType=VARCHAR},
	        #{extendAcceptGoodsNum, jdbcType=INTEGER},
	       	#{province, jdbcType=VARCHAR},
	        #{city, jdbcType=VARCHAR},
            #{district, jdbcType=VARCHAR},
	        #{address, jdbcType=VARCHAR},
	        #{postcode, jdbcType=VARCHAR},
	        #{name, jdbcType=VARCHAR},
	        #{telephone, jdbcType=VARCHAR},
	        #{addressId, jdbcType=BIGINT},
	        #{deviceType, jdbcType=VARCHAR},
	        CURRENT_TIMESTAMP,
	        CURRENT_TIMESTAMP,
	        #{mainOrderId,jdbcType=VARCHAR},
	        #{preDelivery,jdbcType=VARCHAR},
	        #{source,jdbcType=VARCHAR},
	        #{extOrderId,jdbcType=VARCHAR},
	        #{preStockStatus,jdbcType=VARCHAR},
	        #{extParentId,jdbcType=VARCHAR});
	</insert>
	
	<update id="updateStatusByOrderId" parameterType="OrderInfoEntity">
		<![CDATA[
		UPDATE t_esp_order_info 
		]]>
		<set>
			update_date = CURRENT_TIMESTAMP,
			orderstatus = #{status, jdbcType=VARCHAR}
		</set>
	<![CDATA[
		WHERE order_id =  #{orderId, jdbcType=VARCHAR}
	]]>
	</update>
	
	<update id="updateIsDeleteByOrderId" parameterType="OrderInfoEntity">
		<![CDATA[
		UPDATE t_esp_order_info 
		]]>
		<set>
			is_delete = '01',
			update_date = #{updateDate,jdbcType=TIMESTAMP}
		</set>
	<![CDATA[
		WHERE order_id =  #{orderId, jdbcType=VARCHAR}
	]]>
	</update>

	<update id="updateByMainOrderId" parameterType="OrderInfoEntity">
		<![CDATA[
		UPDATE t_esp_order_info 
		]]>
		<set>
        <![CDATA[
            UPDATE_DATE = CURRENT_TIMESTAMP,
        ]]>
            <if test="status != null and status != ''">
                orderstatus = #{status, jdbcType=VARCHAR},
            </if>
            <if test="payStatus != null and payStatus != ''">
                paystatus = #{payStatus, jdbcType=VARCHAR},
            </if>
		</set>
	<![CDATA[
		WHERE main_order_id =  #{mainOrderId, jdbcType=VARCHAR}
	]]>
	</update>
	
	<!-- 更新 -->
    <update id="update" parameterType="OrderInfoEntity">
    <![CDATA[
        UPDATE t_esp_order_info
    ]]>
        <set>
	        <![CDATA[
	            UPDATE_DATE = CURRENT_TIMESTAMP,
	        ]]>
	        <if test="preDelivery != null and preDelivery != ''">
	            pre_delivery = #{preDelivery, jdbcType=VARCHAR},
	        </if>
            <if test="status != null and status != ''">
                orderstatus = #{status, jdbcType=VARCHAR},
            </if>
           	<if test="payStatus != null and payStatus != ''">
                paystatus = #{payStatus, jdbcType=VARCHAR},
            </if>
           	<if test="payType != null and payType != ''">
                payType = #{payType, jdbcType=VARCHAR},
            </if>
            <if test="lastAcceptGoodsDate != null">
                last_acceptgoodsdate = #{lastAcceptGoodsDate, jdbcType=TIMESTAMP},
            </if>
            <if test="extendAcceptGoodsNum != null">
                extend_acceptgoodsNum = #{extendAcceptGoodsNum, jdbcType=INTEGER},
            </if>
            <if test="acceptGoodsDate != null">
                acceptgoodsdate = #{acceptGoodsDate, jdbcType=TIMESTAMP},
            </if>
            <if test="acceptGoodsType != null and acceptGoodsType != ''">
                acceptgoodstype = #{acceptGoodsType, jdbcType=VARCHAR},
            </if>
            
            <if test="province != null and province !='' ">
                province = #{province, jdbcType=VARCHAR},
            </if>
            <if test="city != null and city !='' ">
                city = #{city, jdbcType=VARCHAR},
            </if>
            <if test="district != null and district !='' ">
                district = #{district, jdbcType=VARCHAR},
            </if>
            <if test="address != null and address !='' ">
                address = #{address, jdbcType=VARCHAR},
            </if>
            <if test="name != null and name !='' ">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="telephone != null and telephone !='' ">
                telephone = #{telephone, jdbcType=VARCHAR},
            </if>
            <if test="addressId != null and addressId !=''">
                addressId = #{addressId, jdbcType=BIGINT},
            </if>
            <if test="logisticsId != null and logisticsId!=''">
                logistics_id = #{logisticsId, jdbcType=VARCHAR},
            </if>
			<if test="logisticsSignDate != null ">
				logistics_sign_time = #{logisticsSignDate, jdbcType=TIMESTAMP},
			</if>
			<if test="mainOrderId != null and mainOrderId !=''">
                main_order_id = #{mainOrderId, jdbcType=VARCHAR},
            </if>
			<if test="extParentId != null and extParentId !=''">
				ext_parent_id = #{extParentId, jdbcType=VARCHAR},
			</if>
        </set>
        <![CDATA[
        WHERE ID = #{id, jdbcType=BIGINT} 
        ]]>
    </update>


	<!-- 查询 用户 待付款、待发货、待收货 子订单数量 -->
	<select id="getOrderNum" parameterType="java.lang.Long"
		resultType="com.apass.esp.domain.dto.aftersale.IdNum">
    <![CDATA[
        SELECT  COUNT(ORDER_ID)     num, 
                ORDERSTATUS         id 
        FROM    t_esp_order_info 
        WHERE   USER_ID = #{value} 
        AND     ORDERSTATUS IN ('D00','D02','D03') and ext_parent_id!='-1'
        GROUP BY ORDERSTATUS
        ]]>
	</select>
	
	<!-- 加载待付款 -->
	<select id="loadNoPayList" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id id,
			order_id orderId,
			user_id userId,
			payType payType,
			paystatus payStatus,
			orderstatus STATUS,
			create_date createDate,
			update_date updateDate
		FROM
			t_esp_order_info
		WHERE
			orderstatus = 'D00' and ext_parent_id!='-1'
		order by create_date asc
		LIMIT 0,1000
		]]>
	</select>
	
	<!-- 查询所有待签收订单 -->
	<select id="loadNoSignOrders" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			remark remark,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate,
			create_date createDate,
			update_date updateDate
		FROM
			t_esp_order_info
		WHERE
			orderstatus = 'D03' and ext_parent_id!='-1'
		]]>
	</select>
	<!-- 根据物流唯一标识 -->
	<select id="loadBylogisticsId" parameterType="String" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate
		FROM
			t_esp_order_info
		where logistics_id=#{value}
		]]>
	</select>
	
	<!-- 查询售后完成且超过1天的订单 -->
	<select id="loadCompleteOrderGtThreeDay" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id id,
			order_id orderId,
			user_id userId,
			payType payType,
			paystatus payStatus,
			orderstatus STATUS,
			create_date createDate,
			update_date updateDate
		FROM
			t_esp_order_info
		WHERE
			order_id IN (
				SELECT
					order_id
				FROM
					t_esp_refund_info
				WHERE
					STATUS = 'rs05'
				AND DATE_ADD(
					completion_time,
					INTERVAL 1 DAY
				) < NOW()
			)
		AND orderstatus = 'D05' and ext_parent_id!='-1'
		]]>
	</select>

	<!--查询最新订单信息-->
	<select id="queryLatestSuccessOrderInfo" parameterType="java.lang.Long"
			resultType="OrderInfoEntity">
		<![CDATA[
		SELECT
			a.id	id,
			a.order_id orderId,
			a.user_id userId,
			a.payType payType,
			a.paystatus payStatus,
			a.create_date createDate,
			a.update_date updateDate
		FROM
			t_esp_order_info a
			WHERE a.payType='T02' and 
			a.payStatus = 'P02' AND
			a.user_id = #{value}
			 and ext_parent_id!='-1' and
			not EXISTS 
            (select b.id from t_esp_cash_refund b where a.order_id=b.order_id and b.status in (2,4))	
			
			ORDER BY a.create_date DESC limit 1
		]]>
	</select>
	
	<!-- 查询待发货订单的信息，切订单的预发货状态为null -->
	<select id="toBeDeliver" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
			id id,
			order_id orderId,
			user_id userId,
			payType payType,
			paystatus payStatus,
			orderstatus STATUS,
			create_date createDate,
			update_date updateDate
		FROM
			t_esp_order_info
		WHERE
			orderstatus = 'D02' and pre_delivery = 'N' and ext_parent_id!='-1'
		]]>
	</select>
	
	<update id="updateOrderStatusAndPreDelivery" parameterType="OrderInfoEntity">
		UPDATE t_esp_order_info set orderstatus = #{status, jdbcType=VARCHAR}, pre_delivery = #{preDelivery, jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP} WHERE order_id =  #{orderId, jdbcType=VARCHAR}
	</update>


	<update id="updateOrderStatus" parameterType="OrderInfoEntity">
		UPDATE t_esp_order_info set orderstatus = #{status, jdbcType=VARCHAR},update_date = NOW() WHERE order_id =  #{orderId, jdbcType=VARCHAR}
	</update>

	<select id="selectOrderCountByStatus" resultType="java.lang.Integer">
		SELECT count(1) from t_esp_order_info
		where  orderstatus =#{orderStatus}
		and create_date &gt;= #{dateBegin}
        and create_date &lt; #{dateEnd}
	</select>

	<select id="selectOrderAmtByStatus" resultType="java.lang.Double">
		SELECT sum(order_amt) from t_esp_order_info
		where  orderstatus =#{orderStatus}
		and pay_time &gt;= #{dateBegin}
		and pay_time &lt;= #{dateEnd}
	</select>

	<select id="selectOrderByStatus" resultType="OrderInfoEntity">
	    SELECT
	    id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate
	    from t_esp_order_info
		where  orderstatus in('D04','D02','D03')
		and pay_time &gt;= #{dateBegin}
		and pay_time &lt;= #{dateEnd}
	</select>

	<select id="selectSumAmt" resultType="java.lang.Integer">
		select sum(txn_amt) from t_apass_txn_info where txn_type in ('T01','T05') and status =  'S' and create_date  &gt;= #{dateBegin} and  create_date &lt; #{dateEnd}
	</select>

	<select id="selectAliAmt" resultType="java.lang.Integer">
		select sum(txn_amt) from t_apass_txn_info where txn_type in ('T10','T11') and status =  'S' and create_date  &gt;= #{dateBegin} and  create_date &lt; #{dateEnd}
	</select>


	<select id="selectCreAmt" resultType="java.lang.Integer">
		select sum(txn_amt) from t_apass_txn_info where txn_type = 'T02' and status =  'S' and create_date  &gt;= #{dateBegin} and  create_date &lt; #{dateEnd}
	</select>
	
	<select id="initGoodsSaleVolume" resultType="java.lang.String">
		select order_id from t_esp_order_info
		where orderstatus in ('D02' , 'D03','D04','D05')
	</select>


    <!-- 获取失效和删除的预占库存的京东订单 -->
	<select id="getInvalidAndDeleteJdOrder" resultType="OrderInfoEntity">
	<![CDATA[
			id id,
			order_id orderId,
			user_id userId,
			payType payType,
			paystatus payStatus,
			orderstatus STATUS,
			create_date createDate,
			update_date updateDate,
			source source,
			pre_stock_status preStockStatus,
			ext_order_id extOrderId
			FROM
			t_esp_order_info
		WHERE
			(orderstatus = 'D07' or  orderstatus = 'D08') and source = 'jd' and pre_stock_status = '1'
		]]>
	</select>
	<select id="getOrderByOrderStatusAndPreStatus" resultType="OrderInfoEntity">
	<![CDATA[
		SELECT
				id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			remark remark,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			logistics_sign_time logisticsSignDate,
			merchant_code merchantCode,
			province province,
			city city,
			district district,
			address address,
			postcode postcode,
			name name,
			telephone telephone,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate,
            addressId               addressId,
            main_order_id           mainOrderId,
            down_payment_amount    downPaymentAmount,
              device_type           deviceType,
			create_date createDate,
			update_date updateDate,
			pre_delivery preDelivery,
			source source,
			ext_order_id extOrderId
		FROM
			t_esp_order_info
		WHERE
			orderstatus = 'D03' and pre_stock_status = '1' and source='jd'
		]]>
	</select>
	<!-- 根据订单的编号，修改字段 -->
	<update id="updatePreStockStatusByOrderId" parameterType="Map">
		update
		t_esp_order_info 
		<set>
		  update_date = #{updateTime},
		 <if test="preStockStatus != null and preStockStatus != ''">
		 	pre_stock_status = #{preStockStatus},
		 </if>
		 <if test="extOrderId != null and extOrderId != ''">
		 	ext_order_id = #{extOrderId},
		 </if>
		</set>
		where order_id = #{orderId}
	</update>

	<select id="getOrderInfoByExtOrderId" resultType="OrderInfoEntity">
		SELECT
			id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			remark remark,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			logistics_sign_time logisticsSignDate,
			merchant_code merchantCode,
			province province,
			city city,
			district district,
			address address,
			postcode postcode,
			name name,
			telephone telephone,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate,
            addressId               addressId,
            main_order_id           mainOrderId,
            down_payment_amount    downPaymentAmount,
			create_date createDate,
			update_date updateDate,
			pre_delivery preDelivery,
			source source,
			ext_order_id extOrderId,
			pre_stock_status preStockStatus
		FROM
			t_esp_order_info
		where ext_order_id = #{extOrderId}

	</select>


	<update id="updateOrderStatusByExtOrderId" parameterType="OrderInfoEntity">
		UPDATE t_esp_order_info set orderstatus = #{status, jdbcType=VARCHAR},update_date = NOW(),acceptgoodsdate = NOW() WHERE ext_order_id =  #{extOrderId, jdbcType=VARCHAR}
	</update>

	<select id="getJdOrderByOrderStatus" resultType="OrderInfoEntity">
		SELECT
			id	id,
			order_id orderId,
			user_id userId,
			payType payType,
			order_amt orderAmt,
			paystatus payStatus,
			remark remark,
			orderstatus status,
			logistics_name logisticsName,
			logistics_no logisticsNo,
			logistics_sign_time logisticsSignDate,
			merchant_code merchantCode,
			province province,
			city city,
			district district,
			address address,
			postcode postcode,
			name name,
			telephone telephone,
			acceptgoodstype		 acceptGoodsType,
            extend_acceptgoodsNum  extendAcceptGoodsNum,
            send_outgoodsdate      sendOutGoodsDate,
            last_acceptgoodsdate		lastAcceptGoodsDate,
            acceptgoodsdate			acceptGoodsDate,
            addressId               addressId,
            main_order_id           mainOrderId,
            down_payment_amount    downPaymentAmount,
			create_date createDate,
			update_date updateDate,
			pre_delivery preDelivery,
			source source,
			ext_order_id extOrderId
		FROM
			t_esp_order_info
		where
		source = 'jd'
		and orderstatus=#{orderStatus}
	</select>
	
	<select id="getConfirmOrderCount" resultType="java.lang.Integer">
		SELECT
			count(user_id)
		FROM
			(
				SELECT
					user_id
				FROM
					t_esp_order_info
				where create_date BETWEEN #{beginDate} AND #{endDate}
				GROUP BY
					user_id
				ORDER BY create_date
		) temp
	</select>
	
	<select id="getConfirmPayCount" resultType="java.lang.Integer">
		SELECT
			count(user_id)
		FROM
			(
				SELECT
					user_id
				FROM
					t_esp_order_info
				where create_date BETWEEN #{beginDate} AND #{endDate} and paystatus in('P02')
				GROUP BY
					user_id
				ORDER BY create_date
		) temp
	</select>
	
	
	<select id="getSumOrderamt" resultType="java.math.BigDecimal">
		SELECT 
			SUM(order_amt) 
		from t_esp_order_info
		where create_date BETWEEN #{beginDate} AND #{endDate}
	</select>
	<select id="getSumOrderamtForPaySuccess" resultType="java.math.BigDecimal">
		SELECT 
			SUM(order_amt) 
		from t_esp_order_info
		where create_date BETWEEN #{beginDate} AND #{endDate} and paystatus = 'P02'
	</select>
	
	<select id="channelStatistics" parameterType="java.util.HashMap" resultType="OrderInfoEntity">
		SELECT
			order_id orderId,
			user_id userId,
			order_amt orderAmt,
			orderstatus status,
			create_date createDate,
			update_date updateDate
		FROM
			t_esp_order_info
		where 1=1
		<if test="beginDate != null and beginDate != ''">
			<![CDATA[ 
		    and create_date >= #{beginDate} 
		    ]]> 
		</if>
		<if test="endDate != null and endDate != ''">
		    <![CDATA[ 
		    and create_date <  #{endDate} 
		    ]]> 
		</if>
	</select>
	
</mapper>
