<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StatementDto">
    <!-- 查询条件 -->
    <sql id="QueryConditionSql">
		<where>
			<if test="createDate1 != null and createDate1 != ''">
				and date_format(orderinfo.create_date,'%Y-%m-%d %H:%i:%s') >= #{createDate1}
			</if> 
			<if test="createDate2 != null and createDate2 != ''">
				and #{createDate2} >= date_format(orderinfo.create_date,'%Y-%m-%d %H:%i:%s') 
			</if>
			<if test="date1 != null and date1 != ''">
				and date_format(orderinfo.update_date,'%Y-%m-%d %H:%i:%s') >= #{date1}
			</if> 
			<if test="date2 != null and date2 != ''">
				and #{date2} >= date_format(orderinfo.update_date,'%Y-%m-%d %H:%i:%s')  
			</if>
			<if test="customerName != null and customerName != ''">
				AND orderinfo.NAME LIKE '%${customerName}%'
			</if>
			<if test="goodsNames != null and goodsNames != ''">
				AND ordetaAndgdbaAndgddetaTemp.goodsNameTemp = #{goodsNames, jdbcType=VARCHAR}
			</if>
			<if test="orderId != null and orderId != ''">
				AND orderinfo.order_id = #{orderId, jdbcType=VARCHAR}
			</if>
			<if test="payType != null and payType != ''">
				AND orderinfo.payType = #{payType, jdbcType=VARCHAR}
			</if>
			<if test="refundType != null and refundType != ''">
				AND refundinfo.refund_type = #{refundType, jdbcType=VARCHAR}
			</if>
			<if test="merchantCode != null and merchantCode != ''">
	        	AND merchantinfo.merchant_code = #{merchantCode, jdbcType=VARCHAR}
	        </if> 
		</where>
	</sql>
    <!-- 导出报表的内容 查询 ：与页面相同奶哥，此sql不用了-->
	<select id="queryStatementPageForExport" parameterType="Map" resultType="StatementDto">
	<![CDATA[
	        SELECT
				orderinfo.create_date orderCreateDate,
				orderinfo.order_id orderId,
				merchantinfo.merchant_name merchantName,
				orderinfo.NAME customerName,
				orderinfo.telephone customerTelephone,
				orderinfo.address address,
				orderinfo.send_outgoodsdate sendOutgoodsdate,
				orderinfo.payType payType,
				orderinfo.pay_time payTime,
				orderinfo.logistics_no logisticsNo,
				orderinfo.logistics_name logisticsName,
				orderinfo.logistics_sign_time signTime,
				refundinfo.refund_type refundType,
				refundinfo.create_date refundCreateDate,
				refundinfo.is_agree isAgree,
				refundinfo.approval_user approvalUser,
				refundinfo.s_logistics_no sLogisticsNo,
				refundinfo.r_logistics_no rLogisticsName,
				refundinfo.remark remark,
				refundinfo.completion_time completionTime,
				ordetaAndgdbaAndgddetaTemp.goodsNumTemp goodsNum,
				ordetaAndgdbaAndgddetaTemp.goodsNameTemp goodsName,
				ordetaAndgdbaAndgddetaTemp.goodsModelTemp goodsModel,
				ordetaAndgdbaAndgddetaTemp.goodsPriceTemp goodsPrice,
				ordetaAndgdbaAndgddetaTemp.marketPriceTemp marketPrice,
				ordetaAndgdbaAndgddetaTemp.goodsCostPriceTemp goodsCostPrice,
				ordetaAndgdbaAndgddetaTemp.stockCurrAmtTemp stockCurrAmt
			FROM
				t_esp_order_info orderinfo
			LEFT JOIN t_esp_merchant_info merchantinfo ON orderinfo.merchant_code = merchantinfo.merchant_code
			LEFT JOIN t_esp_refund_info refundinfo ON orderinfo.order_id = refundinfo.order_id
			LEFT JOIN (
				SELECT
					orderdetailinfo.order_id orderIdTemp,
					orderdetailinfo.goods_num goodsNumTemp,
					goodsbaseinfo.goods_name goodsNameTemp,
					goodsbaseinfo.goods_model goodsModelTemp,
					goodsstockinfo.goods_price goodsPriceTemp,
					goodsstockinfo.market_price marketPriceTemp,
					goodsstockinfo.goods_cost_price goodsCostPriceTemp,
					goodsstockinfo.stock_curr_amt stockCurrAmtTemp
				FROM
					t_esp_order_detail_info orderdetailinfo
				LEFT JOIN t_esp_goods_base_info goodsbaseinfo ON orderdetailinfo.goods_id = goodsbaseinfo.id
				LEFT JOIN t_esp_goods_stock_info goodsstockinfo ON orderdetailinfo.goods_stock_id = goodsstockinfo.id
			) ordetaAndgdbaAndgddetaTemp ON orderinfo.order_id = ordetaAndgdbaAndgddetaTemp.orderIdTemp
	]]>
	    <include refid="QueryConditionSql" />
	<![CDATA[
		ORDER BY orderinfo.create_date,orderinfo.order_id DESC 
	]]>
	</select>
	
    <!-- 报表管理页面显示 分页查询 -->
	<select id="queryStatementShowPage" parameterType="Map" resultType="StatementDto">
	<![CDATA[
        SELECT
			orderinfo.create_date orderCreateDate,
			orderinfo.order_id orderId,
			merchantinfo.merchant_name merchantName,
			orderinfo. NAME customerName,
			orderinfo.telephone customerTelephone,
			orderinfo.address address,
			orderinfo.send_outgoodsdate sendOutgoodsdate,
			orderinfo.payType payType,
			orderinfo.pay_time payTime,
			orderinfo.logistics_no logisticsNo,
			orderinfo.logistics_name logisticsName,
			orderinfo.logistics_sign_time signTime,
			refundinfo.refund_type refundType,
			refundinfo.create_date refundCreateDate,
			refundinfo.is_agree isAgree,
			refundinfo.approval_user approvalUser,
			refundinfo.s_logistics_no sLogisticsNo,
			refundinfo.r_logistics_no rLogisticsNo,
			refundinfo.completion_time completionTime,
			refundinfo.remark remark,
			goodsbaseinfo.goods_name goodsName,
			goodsbaseinfo.goods_model goodsModel,
			goodsstockinfo.market_price marketPrice,
			goodsstockinfo.goods_cost_price goodsCostPrice,
			orderdetailinfo.goods_num goodsNum,
			goodsstockinfo.stock_curr_amt stockCurrAmt,
			refundDetail.goods_num goodsNumR,
			refundInfo.refund_amt refundAmt
		FROM
			t_esp_order_info orderinfo
		LEFT JOIN t_esp_order_detail_info orderdetailinfo ON orderdetailinfo.order_id = orderInfo.order_id
		LEFT JOIN t_esp_goods_base_info goodsbaseinfo ON goodsbaseinfo.id = orderdetailinfo.goods_id
		LEFT JOIN t_esp_goods_stock_info goodsstockinfo ON goodsstockinfo.id = orderdetailinfo.goods_stock_id
		LEFT JOIN t_esp_merchant_info merchantinfo ON orderInfo.merchant_code = merchantinfo.merchant_code
		LEFT JOIN t_esp_refund_info refundInfo ON orderInfo.order_id = refundInfo.order_id
		LEFT JOIN t_esp_refund_detail_info refundDetail ON orderdetailinfo.id= refundDetail.order_detail_id
	        
	]]>
	    <include refid="QueryConditionSql" />
	<![CDATA[
		ORDER BY orderinfo.create_date,orderinfo.order_id DESC 
	]]>
	</select>
	
    <!-- 报表管理页面显示总数量 -->
	<select id="queryStatementShowPageCount" parameterType="Map" resultType="Integer">
	<![CDATA[
		SELECT
			count(1)
		FROM
			t_esp_order_info orderinfo
		LEFT JOIN t_esp_order_detail_info orderdetailinfo ON orderdetailinfo.order_id = orderInfo.order_id
		LEFT JOIN t_esp_goods_base_info goodsbaseinfo ON goodsbaseinfo.id = orderdetailinfo.goods_id
		LEFT JOIN t_esp_goods_stock_info goodsstockinfo ON goodsstockinfo.id = orderdetailinfo.goods_stock_id
		LEFT JOIN t_esp_merchant_info merchantinfo ON orderInfo.merchant_code = merchantinfo.merchant_code
		LEFT JOIN t_esp_refund_info refundInfo ON orderInfo.order_id = refundInfo.order_id
		LEFT JOIN t_esp_refund_detail_info refundDetail ON orderdetailinfo.id= refundDetail.order_detail_id
	        
	]]>
	    <include refid="QueryConditionSql" />
	</select>
	
    <!-- 导出报表内容数量查询 -->
	<select id="queryStatementPageForExportCount" parameterType="Map" resultType="Integer">
	<![CDATA[
	        SELECT
				count(1)
			FROM
				t_esp_order_info orderinfo
			LEFT JOIN t_esp_merchant_info merchantinfo ON orderinfo.merchant_code = merchantinfo.merchant_code
			LEFT JOIN t_esp_refund_info refundinfo ON orderinfo.order_id = refundinfo.order_id
			LEFT JOIN (
				SELECT
					orderdetailinfo.order_id orderIdTemp,
					orderdetailinfo.goods_num goodsNumTemp,
					goodsbaseinfo.goods_name goodsNameTemp,
					goodsbaseinfo.goods_model goodsModelTemp,
					goodsstockinfo.goods_price goodsPriceTemp,
					goodsstockinfo.goods_cost_price goodsCostPriceTemp,
					goodsstockinfo.stock_curr_amt stockCurrAmtTemp
				FROM
					t_esp_order_detail_info orderdetailinfo
				LEFT JOIN t_esp_goods_base_info goodsbaseinfo ON orderdetailinfo.goods_id = goodsbaseinfo.id
				LEFT JOIN t_esp_goods_stock_info goodsstockinfo ON orderdetailinfo.goods_id = goodsstockinfo.goods_id
			) ordetaAndgdbaAndgddetaTemp ON orderinfo.order_id = ordetaAndgdbaAndgddetaTemp.orderIdTemp
	]]>
	    <include refid="QueryConditionSql" />
	</select>
	
	
   
</mapper>